<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/bundles/content.min.css" />
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">*@
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header hidden-md">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ODH Tourism Data Browser", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                
           
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ODH Open Data<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Location</a>
                                <ul class="dropdown-menu">                                    
                                    <li>@Html.ActionLink("MetaRegions", "MetaRegionList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("ExperienceaAreas", "ExperienceAreaList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Regions", "RegionList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Tourismassociation", "TourismVereinList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Municipalities", "MunicipalityList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Districts", "DistrictList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Skiregion", "SkiregionList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Skiareas", "SkiareaList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Areas", "AreaList", "GeoBank", new { area = "" }, null)</li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">ODH Activities & Pois</a>
                                <ul class="dropdown-menu">

                                    <li>@Html.ActionLink("All", "AllSmgPoiList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Wellness & Relaxation", "WellnessList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Winter", "WinterList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Summer", "SummerList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Culture & Attractions", "CultureList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Eating & Drinking", "EatingList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Mobility", "MobilityList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Shops and Services", "ShopsAndServicesList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Other", "OtherList", "GeoBank", new { area = "" }, null)</li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accommodations</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Accommodations", "AccommodationSimpleList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Accommodation Search", "AccommodationList", "ExternalDataSources", new { area = "" }, null)</li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events & Venues</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Events", "EventList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Venues", "VenueList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Events Eurac NOI", "EventShortList", "GeoBank", new { area = "" }, null)</li>
                                </ul>
                            </li>                                                       

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Recipe Article", "RecipeArticleList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Base Article", "BaseArticleList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Event Article", "EventArticleList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Book Article", "BookArticleList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Catalog Article", "CatalogArticleList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("TourOperator Article", "TouroperatorArticleList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Press Article", "PressArticleList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("B2B Article", "B2BArticleList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Content Article", "ContentArticleList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("SpecialAnnouncement", "SpecialAnnouncementList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("NOI NewsFeed", "NewsfeedNoiList", "GeoBank", new { area = "" }, null)</li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">NOI Data</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Events Eurac NOI", "EventShortList", "GeoBank", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("NOI NewsFeed", "NewsfeedNoiList", "GeoBank", new { area = "" }, null)</li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Weather, Snow Data</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Weather Information", "WeatherList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Weather District Information", "DistrictWeatherList", "ExternalDataSources", new { area = "" }, null)</li>
                                    @*<li>@Html.ActionLink("Weather Realtime Information", "RealtimeWeatherList", "ExternalDataSources", new { area = "" }, null)</li>*@
                                    <li>@Html.ActionLink("Snow Report", "SnowReportList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Measuring Points", "MeasuringPointsList", "ExternalDataSources", new { area = "" }, null)</li>
                                </ul>
                            </li>

                             <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Webcams</a>
                                <ul class="dropdown-menu">                                    
                                    <li>@Html.ActionLink("Webcams", "WebcamInfoList", "GeoBank", new { area = "" }, null)</li>                                    
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Data</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Wine Awards", "WineAwardList", "ExternalDataSources", new { area = "" }, null)</li>                                    
                                    <li>@Html.ActionLink("ODH Tags", "ODHTagList", "GeoBank", new { area = "" }, null)</li>                              
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><del>LTS ActivityData</del></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("All", "AllActivitiesList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Alpine", "AlpineList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Biking", "BikeList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("City Tour", "CityTourList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Equestrianism", "EquestrianismList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Hiking", "HikeList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Running Fitness", "RunningFitnessList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Skitracks", "SkitrackList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Slopes", "SlopeList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lifts", "LiftList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Sledges", "SlideList", "ExternalDataSources", new { area = "" }, null)</li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><del>LTS PoiData</del></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("All", "AllPoisList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Sports and leisure", "ActiveList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Artisan", "ArtisanList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Health", "HealthList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Mobility", "MobilityTrafficList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Nightlife", "NightlifeList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Service", "ServiceList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("ServiceProviders", "ServiceProviderList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Shops", "ShopList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Culture Sightseen", "SightseenList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Associations", "AssociationsList", "ExternalDataSources", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Companies", "CompaniesList", "ExternalDataSources", new { area = "" }, null)</li>
                                    
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><del>LTS GastronomyData</del></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Gastronomies", "GastronomyList", "ExternalDataSources", new { area = "" }, null)</li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                </ul>

                <partial name="_LoginPartial" />
            </div>
        </div>
    </div>
    <div class="fullwidthcontainer">
        @RenderSection("headerimgsect", required: false)
    </div>

    <div class="jumbotron" style="margin-bottom:0px;padding-top:15px;padding-bottom:15px">
        <div class="container">
            @RenderSection("jumbotronsect", required: false)
            @if (IsSectionDefined("infomodaltext"))
            {
                <input type="button" id="infodialogbtn" class="btn btn-info pull-left" value="Info" data-toggle="modal" data-target="#infomodal" />
            }
           
            <datalist id="publishedonitems" style="display:none">
                <option value="idm-marketplace"></option>
                <option value="suedtirol.info"></option>
                <option value="noi.bz.it"></option>
                <option value="today.noi.bz.it"></option>
                <option value="noi-communityapp"></option>
                <option value="suedtirolwein.com"></option>
                <option value="centro-trevi.trevilab"></option>
                <option value="centro-trevi.drin"></option>                
            </datalist>
                     
        </div>
    </div>

    <div class="modal fade" id="infomodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Info</h4>
                </div>
                <div class="modal-body">
                    @RenderSection("infomodaltext", required: false)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">

        @RenderBody()

    </div>

    <footer>
        <div class="container">
            <hr />
            <h6>&copy; @DateTime.Now.Year - Open Data Hub Team</h6>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/angularcustom")
        @Scripts.Render("~/bundles/moment")
        @Scripts.Render("~/bundles/leaflet")*@
    <script src="~/bundles/jquery.min.js"></script>
    <script src="~/bundles/bootstrap.min.js"></script>
    <script src="~/bundles/angular.min.js"></script>
    @*<script src="~/NgScripts/pathconfig.js"></script>
        <script src="~/NgScripts/appfactory.js"></script>
        <script src="~/NgScripts/appconfig.js"></script>*@
    <environment names="Local">
        <script src="~/NgScripts/pathconfig-local.js"></script>
    </environment>
    <environment names="Development">
        <script src="~/NgScripts/pathconfig-dev.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/NgScripts/pathconfig-live.js"></script>
    </environment>

    <script src="~/js/angular-jwt.js"></script>

    <script src="~/NgScripts/appfactory.js"></script>
    <script src="~/NgScripts/appconfig.js"></script>
    @*<script src="~/bundles/angularcustom.min.js"></script>*@
    <script src="~/bundles/moment.min.js"></script>
    <script src="~/bundles/leaflet.min.js"></script>

    @*@Scripts.Render("~/bundles/googlemaps")*@
    @*@Scripts.Render("~/bundles/angularcustom")*@
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>

<script type="text/javascript">
    var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();

    if(userAuthorized === false){


        if(sessionStorage.getItem("accessToken") != null)
        {
            sessionStorage.removeItem('accessToken');

            console.log('token removed!');
        }

    }

</script>