
@{
    ViewBag.Title = "VenueList";
}

@section jumbotronsect {
    <h3>Venue List (LTS)</h3>
}
@section infomodaltext {
    <h3>Venue Data</h3>
    <p>All data is syncronized daily from LTS TIC Web Interface (Venues LTS).</p>
    <p>
        Active data is published by the Open Data Hub.
    </p>
}

<div class="col-xs-12" ng-app="venue" ng-controller="venueListController" ng-init="init()">
    <div class="splash" ng-show="isloading">
        <h2>
            Loading
        </h2>
        <span>
            <i class="fa fa-spinner fa-5x fa-spin active"></i>
        </span>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-inline">

                <div class="pull-right">
                    <div class="btn-group">
                        @*<button type="button" class="btn btn-default active" ng-click="setlang('de')">de</button>
                            <button type="button" class="btn btn-default" ng-click="setlang('it')">it</button>
                            <button type="button" class="btn btn-default" ng-click="setlang('en')">en</button>*@
                        <label class="btn btn-default" ng-model="lang" btn-radio="'deu'">de</label>
                        <label class="btn btn-default" ng-model="lang" btn-radio="'ita'">it</label>
                        <label class="btn btn-default" ng-model="lang" btn-radio="'eng'">en</label>
                        @*<label class="btn btn-default" ng-model="lang" btn-radio="'nl'">nl</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'cs'">cs</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'pl'">pl</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'fr'">fr</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'ru'">ru</label>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br />
            <div class="form-inline">
                <div class="pull-right">
                    <span class="btn btn-default"> Elements: {{ totalcount }} </span>
                    <input type="button" id="prevpage" ng-click="changePage(-1)" class="btn btn-info" value="prev" ng-disabled="page == 1" />
                    &nbsp;{{ page }}&nbsp;/&nbsp;{{ totalpages }}&nbsp;
                    <input type="button" id="nextpage" ng-click="changePage(+1)" class="btn btn-info" value="next" ng-disabled="page == totalpages" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="col-sm-3 col-xs-12 table-bordered filtertable">
            <div class="form-inline">
                <br />
                <div class="form-group col-sm-12">
                    <input type="button" id="filterbutton" ng-click="applyFilter(1)" class="btn btn-info" value="Filter" />
                    <input type="button" id="clearfilterbutton" ng-click="clearFilter()" class="btn btn-default" value="Clear" />
                </div>

                <div class="form-group col-sm-12" ng-controller="VenueTypeAheadController">
                    <h6>Venue Name<small class="btn-link pull-right" ng-click="clearNameFilter()">Clear</small></h6>
                    <typeaheadvenue items="items" templateurl="VenueNameTemplate" prompt="Name" title="Name" subtitle="Id" model="$parent.SelectedVenueName" idmodel="$parent.SelectedVenueId" on-select="onItemSelected()" />
                </div>
                <div class="form-group col-sm-12" ng-controller="LocationTypeAheadController">
                    <h6>Location<small class="btn-link pull-right" ng-click="clearLocationFilter()">Clear</small></h6>
                    <typeaheadvenue items="locitems" templateurl="LocationNameTemplate" prompt="Location" title="name" subtitle="typ" model="$parent.SelectedLocationName" submodel="$parent.SelectedLocationTyp" idmodel="$parent.SelectedLocationId" on-select="onItemSelected()" />
                </div>


                <div class="form-group col-sm-12">
                    <h6>Capacity (persons)<small class="btn-link pull-right" ng-click="clearCapacityFilter()">Clear</small></h6>
                    <div range-slider min="0" max="1000" step="1" model-min="capacityrange.min" model-max="capacityrange.max"></div>
                </div>

                <div class="form-group col-sm-12">
                    <h6>Rooms<small class="btn-link pull-right" ng-click="clearRoomCountFilter()">Clear</small></h6>
                    <div range-slider min="0" max="20" step="1" model-min="roomcountrange.min" model-max="roomcountrange.max"></div>
                </div>


                <div class="form-group col-sm-12" ng-controller="SmgTagNameTypeAheadController">
                    <h6>ODH Tag<small class="btn-link pull-right" ng-click="clearTagFilter()">Clear</small></h6>
                    <typeaheadsmgtag items="items" templateurl="SmgTagNameTemplate" prompt="Name" title="name" model="$parent.SelectedSmgTagName" idmodel="$parent.SelectedSmgTagId" on-select="onItemSelected()" />
                </div>

                <div class="form-group col-sm-12">
                    <h6>active on source<small class="btn-link pull-right" ng-click="clearTICActiveFilter()">Clear</small></h6>
                    <select class="form-control" id="selectTyp" ng-model="active">
                        <option value="null">all</option>
                        <option value="true">active</option>
                        <option value="false">not active</option>
                    </select>
                </div>

                <div class="form-group col-sm-12">
                    <h6>ODH Active<small class="btn-link pull-right" ng-click="clearActiveFilter()">Clear</small></h6>
                    <select class="form-control" id="selectTyp" ng-model="smgactive">
                        <option value="null">all</option>
                        <option value="true">active</option>
                        <option value="false">not active</option>
                    </select>
                </div>



                <div class="form-group col-sm-12">
                    <h6>Category</h6>
                    <div class="btn-group-vertical">
                        <label class="btn btn-default" ng-model="checkVenuecatModel.1" style="white-space: normal;" btn-checkbox>Nicht Konventionelle Locations</label>
                        <label class="btn btn-default" ng-model="checkVenuecatModel.2" btn-checkbox>Messen</label>
                        <label class="btn btn-default" ng-model="checkVenuecatModel.3" btn-checkbox>Historische Ansitze</label>
                        <label class="btn btn-default" ng-model="checkVenuecatModel.4" btn-checkbox>Andere Tagungslocations</label>
                        <label class="btn btn-default" ng-model="checkVenuecatModel.5" btn-checkbox>Tagungshotels</label>
                        <label class="btn btn-default" ng-model="checkVenuecatModel.6" style="white-space: normal;" btn-checkbox>Institutionelle Location</label>
                        <label class="btn btn-default" ng-model="checkVenuecatModel.7" btn-checkbox>Tagungszentren</label>
                    </div>
                    <br />
                    <br />
                </div>

                <div class="form-group col-sm-12">
                    <h6>Feature</h6>
                    <div class="btn-group-vertical">
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.1" btn-checkbox>Garderobe</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.2" style="white-space: normal;" btn-checkbox>Barrierefreier Zugang</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.3" btn-checkbox>Heizung</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.4" btn-checkbox>Tisch</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.5" btn-checkbox>Projektor</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.6" btn-checkbox>Verdunkelung</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.7" style="white-space: normal;" btn-checkbox>Autonomer Zugang zu den Räumlichkeiten</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.8" btn-checkbox>Parkplätze</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.9" style="white-space: normal;" btn-checkbox>Räumlichkeiten für Empfang</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.10" btn-checkbox>Mikrofon</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.11" btn-checkbox>Leinwand</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.12" btn-checkbox>Klimaanlage</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.13" btn-checkbox>Lan</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.14" btn-checkbox>Bar</label>
                        <label class="btn btn-default" ng-model="checkVenuefeatModel.15" btn-checkbox>Wifi</label>
                    </div>
                    <br />
                    <br />
                </div>

                <div class="form-group col-sm-12">
                    <h6>Setup Type</h6>
                    <div class="btn-group-vertical">
                        <label class="btn btn-default" ng-model="checkVenueseatModel.1" btn-checkbox>Auditorium</label>
                        <label class="btn btn-default" ng-model="checkVenueseatModel.2" btn-checkbox>Klasse</label>
                        <label class="btn btn-default" ng-model="checkVenueseatModel.3" btn-checkbox>Board</label>
                        <label class="btn btn-default" ng-model="checkVenueseatModel.4" btn-checkbox>Hufeisen</label>
                        <label class="btn btn-default" ng-model="checkVenueseatModel.5" btn-checkbox>Cocktail</label>
                        <label class="btn btn-default" ng-model="checkVenueseatModel.6" btn-checkbox>Gala-Dinner</label>
                    </div>
                    <br />
                    <br />
                </div>

                <div class="form-group col-sm-12">
                    <br />
                    <input type="button" id="filterbutton" ng-click="applyFilter(1)" class="btn btn-info" value="Filter" />
                    <input type="button" id="clearfilterbutton" ng-click="clearFilter()" class="btn btn-default" value="Clear" />
                    <br />
                    <br />
                </div>

            </div>
        </div>
        <div class="col-sm-9 col-xs-12 table-responsive">
            @*<div class="pull-right">
                    <a ng-click="editevent('new')" class="btn btn-small btn-success">New</a>
                </div>
                <br />*@
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th style="width:160px">MainImage</th>
                        <th style="min-width: 80px;">Shortname</th>
                        <th style="min-width:100px;">Category</th>
                        <th style="min-width: 80px;">Location</th>
                        <th style="min-width: 80px;">active on source</th>
                        <th style="min-width: 80px;">ODH Active</th>
                        <th style="width:20px;"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="venue in venues">
                        <td>
                            <div ng-repeat="myimage in myvenueimages = (venue.relationships.multimediaDescriptions.data | filter:{attributes:{contentType:'image/jpeg'}})">
                                <img ng-hide="!$first" class="img-thumbnail img-responsive" ng-src="{{  myimage.attributes.url != NULL &&  myimage.attributes.url + '&W=150&H=150' || '../img/noimage.png' }}" title="{{  myimage.relationships.copyrightOwner.data.attributes.name[lang] }}" ng-click="showInfoModal(venue)" />
                            </div>
                            <div ng-hide="myvenueimages.length">
                                <img class="img-thumbnail img-responsive" ng-src="{{ '../img/noimage.png' }}" title="no image" ng-click="showInfoModal(venue)" />
                            </div>
                        </td>
                        @*<td>
                                <div style="max-width:150px;min-height:75px">
                                    <img class="img-thumbnail img-responsive" ng-src="{{  event.ImageGallery[0] != NULL && event.ImageGallery[0].ImageUrl + '&W=150&H=150' || '../img/noimage.png' }}"  title="{{ event.ImageGallery[0].ImageDesc['de']}}" ng-click="showInfoModal(event)" />

                                </div>
                            </td>*@
                        @*<td>{{ venue.Id }}</td>*@
                        <td>{{ venue.attributes.name[lang] }}</td>
                        <td>
                            <div ng-repeat="categoryrid in venue.odhdata.VenueCategory">
                                <div ng-show="categoryrid.Id == '03D5630AD1E1438DBA1E998F0F72B626'">Nicht Konventionelle Locations</div>
                                <div ng-show="categoryrid.Id == '410C6C89ED0041559B815FFC112870BB'">Messen</div>
                                <div ng-show="categoryrid.Id == '5B35118C14FF4CB9A5546DDD6461AB62'">Historische Ansitze</div>
                                <div ng-show="categoryrid.Id == '7324F5B3E210450C8DAF4AE3C5354ED5'">Andere Tagungslocations</div>
                                <div ng-show="categoryrid.Id == 'A09AA4B479384DFBBB1605E9E8C0A93B'">Tagungshotels</div>
                                <div ng-show="categoryrid.Id == 'AF924020EB32412C8F7FC5B0CB7DD8B3'">Institutionelle Location</div>
                                <div ng-show="categoryrid.Id == 'DD2171604D37485582E9475A63198933'">Tagungszentren</div>
                            </div>
                        </td>
                        <td>{{ venue.attributes.address[0].city[lang] }} <br /> Locinfo:  {{ venue.odhdata.LocationInfo.RegionInfo.Name[lang.substring(0,2)] }} - {{ venue.odhdata.LocationInfo.TvInfo.Name[lang.substring(0,2)] }}</td>
                        @*<td>
                                <div ng-repeat="thelang in event.HasLanguage">
                                    <small>{{ thelang }}</small>
                                </div>
                            </td>*@
                    <td>
                        @*<div ng-repeat="category in venue.attributes.categories | filter:'lts/stat_published'">
            <div class="glyphicon glyphicon-ok"></div>
        </div>
        <div ng-repeat="category in venue.attributes.categories | filter:'lts/stat_unpublished'">
            <div class="glyphicon glyphicon-remove"></div>
        </div>*@

                        <div class="glyphicon glyphicon-ok" ng-show="venue.odhdata.Active" style="color:green"></div>
                        <div class="glyphicon glyphicon-remove" ng-show="venue.odhdata.Active == false" style="color:red"></div>


                    </td>
                    <td>
                        @*<div ng-repeat="category in venue.attributes.categories | filter:'lts/visi_publishedOnODH'">
            <div class="glyphicon glyphicon-ok" style="color:green"></div>
        </div>
        <div ng-repeat="category in venue.attributes.categories | filter:'lts/visi_unpublishedOnODH'">
            <div class="glyphicon glyphicon-remove" style="color:red"></div>
        </div>*@
                        <div class="glyphicon glyphicon-ok" ng-show="venue.odhdata.ODHActive" style="color:green"></div>
                        <div class="glyphicon glyphicon-remove" ng-show="venue.odhdata.ODHActive == false" style="color:red"></div>

                    </td>
                        <td>
                            <div class="btn-group-vertical">
                                @if (@ViewBag.globalmodify == true || @ViewBag.venuemodify == true || @ViewBag.globaldetail == true)
                                {
                                    <a ng-click="editvenue(venue)" class="btn btn-small btn-default" style="width:70px;">edit</a>
                                }
                                @if (@ViewBag.globaldelete == true || @ViewBag.venuedelete == true)
                                {
                                    @*<a ng-click="deletevenue(venue.Id)" class="btn btn-small btn-primary" style="width:70px;">delete</a>*@
                                }
                                @if (@ViewBag.globalupdate == true || @ViewBag.venueupdate == true)
                                {
                                    @*<a ng-click="updatevenue(venue.Id)" class="btn btn-responsive btn-warning" style="width:70px;">Update</a>*@
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            @*<a ng-click="editvenue('new')" class="btn btn-small btn-info">New</a>*@

            <div class="form-inline">
                <div class="pull-right">
                    <span class="btn btn-default"> Elements: {{ totalcount }} </span>
                    <input type="button" id="prevpage" ng-click="changePage(-1)" class="btn btn-info" value="prev" ng-disabled="page == 1" />
                    &nbsp;{{ page }}&nbsp;/&nbsp;{{ totalpages }}&nbsp;
                    <input type="button" id="nextpage" ng-click="changePage(+1)" class="btn btn-info" value="next" ng-disabled="page == totalpages" />
                </div>
            </div>

        </div>
    </div>

    <script type="text/ng-template" id="myVenueModal.html">
        <form name="eventform">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Venue Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-group pull-left">
                            <p>
                                Available Languages:&nbsp;
                                <label class="label label-default" ng-repeat="smgpoilang in venue.odhdata.HasLanguage">{{smgpoilang}}</label>
                            </p>
                        </div>
                        <div class="btn-group pull-right">
                            <label class="btn btn-default" ng-model="lang" btn-radio="'deu'">de</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'ita'">it</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'eng'">en</label>
                            @*<label class="btn btn-default" ng-model="lang" btn-radio="'nl'">nl</label>
                                <label class="btn btn-default" ng-model="lang" btn-radio="'cs'">cs</label>
                                <label class="btn btn-default" ng-model="lang" btn-radio="'pl'">pl</label>
                                <label class="btn btn-default" ng-model="lang" btn-radio="'fr'">fr</label>
                                <label class="btn btn-default" ng-model="lang" btn-radio="'ru'">ru</label>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <tabset>
                            <tab heading="General">
                                <br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="inputId" class="col-sm-4 control-label">Id</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputId" placeholder="Id" ng-model="venue.id" ng-show="newvenue" readonly>
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputId" placeholder="Id" ng-model="venue.id" ng-show="!newvenue" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputName" class="col-sm-4 control-label">Shortname</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputName" placeholder="Shortname" ng-model="venue.odhdata.Shortname" readonly>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputName" class="col-sm-4 control-label">Last Changed</label>
                                                <div class="col-sm-8">
                                                    <div class="form-control">{{ venue.meta.lastUpdate | moment:'DD-MM-YYYY HH:mm' }}</div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputName" class="col-sm-4 control-label">suedtirol.info Active</label>
                                                <div class="col-sm-8">
                                                    <input type="checkbox" class="form-control" id="checkboxSmgActive" ng-model="venue.odhdata.SmgActive" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputName" class="col-sm-4 control-label">active on source</label>
                                                <div class="col-sm-8">
                                                    <input type="checkbox" class="form-control" id="checkboxActive" ng-model="venue.odhdata.Active" disabled>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-horizontal">

                                            <div class="form-group">

                                                <div ng-repeat="categoryrid in venue.odhdata.VenueCategory">
                                                    <label for="inputTopicRid" class="col-sm-4 control-label">Category</label>

                                                    <div class=" col-sm-8">
                                                        <select class="form-control notextareamaxwitdth" id="selectTopicRid" ng-model="categoryrid.Id" disabled>
                                                            <option value="03D5630AD1E1438DBA1E998F0F72B626">Nicht Konventionelle Locations</option>
                                                            <option value="410C6C89ED0041559B815FFC112870BB">Messen</option>
                                                            <option value="5B35118C14FF4CB9A5546DDD6461AB62">Historische Ansitze</option>
                                                            <option value="7324F5B3E210450C8DAF4AE3C5354ED5">Andere Tagungslocations</option>
                                                            <option value="A09AA4B479384DFBBB1605E9E8C0A93B">Tagungshotels</option>
                                                            <option value="AF924020EB32412C8F7FC5B0CB7DD8B3">Institutionelle Location</option>
                                                            <option value="DD2171604D37485582E9475A63198933">Tagungszentren</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </tab>

                            <tab heading="Detail">
                                <br />
                                <div class="row">
                                    <div class="col-sm-6">

                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="test    inputTitle" class="col-sm-4 control-label">Name</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputTitle" placeholder="Name" ng-model="venue.attributes.name[lang]" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputHeader" class="col-sm-4 control-label">Header</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputHeader" placeholder="Header" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputAlttext" class="col-sm-4 control-label">SubHeader</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputSubHeader" placeholder="SubHeader" readonly>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputIntroText" class="col-sm-4 control-label">IntroText</label>
                                                <div class="col-sm-8">
                                                    <textarea rows="3" class="form-control notextareamaxwitdth" id="inputIntroText" placeholder="IntroText" readonly></textarea>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="inputAdditionalText" class="col-sm-4 control-label">AdditionalText</label>
                                                <div class="col-sm-8">
                                                    <textarea rows="2" class="form-control notextareamaxwitdth" id="inputAdditionalText" placeholder="AdditionalText" readonly></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div ng-repeat="mediaobject in venue.relationships.multimediaDescriptions.data">

                                                    <div ng-show="mediaobject.attributes.contentType == 'text/html'">
                                                        <div ng-show="mediaobject.categories[0] == 'lts/hoToArrive_' + lang">

                                                            <label for="inputGetThereText" class="col-sm-4 control-label">GetThereText</label>
                                                            <div class="col-sm-8">
                                                                <textarea rows="3" class="form-control notextareamaxwitdth" id="inputGetThereText" placeholder="GetThereText" ng-bind-html="mediaobject.attributes.url | decoded2" readonly></textarea>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" ng-show="lang == 'deu' || lang == 'ita' || lang == 'eng'">
                                        <div class="form-horizontal">
                                            <div class="form-group">

                                                <div ng-repeat="mediaobject in venue.relationships.multimediaDescriptions.data">

                                                    <div ng-show="mediaobject.attributes.contentType == 'text/html'">
                                                        <div ng-show="mediaobject.categories[0] == 'lts/description_' + lang">

                                                            <label for="inputBaseText" class="col-sm-2 control-label">Description</label>
                                                            <div class="col-sm-10">
                                                                <textarea rows="8" class="form-control notextareamaxwitdth" id="inputBaseText" placeholder="BaseText" ng-bind-html="mediaobject.attributes.url | decoded2" readonly></textarea>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-12" ng-hide="lang == 'de' || lang == 'it' || lang == 'en'">

                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="inputBaseText" class="col-sm-2 control-label">Base Text</label>


                                                    <div ng-controller="wysiwygeditorCtrl" class="col-sm-10">

                                                        <text-angular name="htmlcontentbase" ng-model="event.Detail[lang].BaseText">

                                                        </text-angular>


                                                    </div>
                                                </div>
                                            </div>

                                        </div>*@
                                </div>
                            </tab>

                            <tab heading="Contact">
                                <br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="inputCompanyName" class="col-sm-4 control-label">CompanyName</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputCompanyName" placeholder="CompanyName" ng-model="venue.attributes.name[lang]" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputAddress" class="col-sm-4 control-label">Address</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputAddress" placeholder="Address" ng-model="venue.attributes.address[0].street[lang]" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputCity" class="col-sm-4 control-label">City</label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" id="inputZipCode" placeholder="ZipCode" ng-model="venue.attributes.address[0].zipcode" readonly>
                                                </div>
                                                <div class="col-sm-5">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputCity" placeholder="City" ng-model="venue.attributes.address[0].city[lang]" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputCountryName" class="col-sm-4 control-label">Country</label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control" id="inputCountryCode" placeholder="CountryCode" ng-model="venue.attributes.address[0].country" readonly>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputCountryName" placeholder="CountryName" ng-model="venue.attributes.address[0].region" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputComplement" class="col-sm-4 control-label">Complement</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputComplement" placeholder="Complement" ng-model="venue.attributes.address[0].complement[lang]" readonly>
                                                </div>
                                                @*<div class="col-sm-3">
                                                        <input type="text" class="form-control" id="inputSurname" placeholder="Surname" ng-model="event.ContactInfos[lang].Surname" readonly>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control notextareamaxwitdth" id="inputGivenname" placeholder="Givenname" ng-model="event.ContactInfos[lang].Givenname" readonly>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="inputEmail" class="col-sm-4 control-label">Email</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputEmail" placeholder="Email" ng-model="venue.attributes.address[0].contactPoint.email" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPhonenumber" class="col-sm-4 control-label">Phonenumber</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputPhonenumber" placeholder="Phonenumber" ng-model="venue.attributes.address[0].contactPoint.telephone" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputFaxnumber" class="col-sm-4 control-label">Faxnumber</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputFaxnumber" placeholder="Faxnumber" ng-model="venue.attributes.address[0].contactPoint.fax" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputUrl" class="col-sm-4 control-label">Url</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputUrl" placeholder="Url" ng-model="venue.attributes.url[lang]" readonly>
                                                </div>
                                            </div>
                                            @*<div class="form-group">
                                                    <label for="inputVat" class="col-sm-4 control-label">Vat / Tax</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control notextareamaxwitdth" id="inputVat" placeholder="Vat" ng-model="event.ContactInfos[lang].Vat" readonly>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control notextareamaxwitdth" id="inputTax" placeholder="Tax" ng-model="event.ContactInfos[lang].Tax" readonly>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Images">
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">
                                            <h4>Images (LTS)</h4>

                                            <div class="row">

                                                <div class="col-sm-2"><b>Image</b></div>
                                                <div class="col-sm-1"><b>License</b></div>
                                                <div class="col-sm-2"><b>Title</b></div>
                                                <div class="col-sm-5"><b>Description</b></div>
                                                <div class="col-sm-1"><b>Copyright</b></div>

                                            </div>

                                            <div class="row" ng-repeat="myimage in myvenueimages = (venue.relationships.multimediaDescriptions.data | filter:{attributes:{contentType:'image/jpeg'}})">

                                                <div class="col-sm-2">
                                                    <img class="img-thumbnail" ng-src="{{ myimage.attributes.url + '&H=150' }}" style="max-height:150px; max-width:200px;" />
                                                </div>
                                                <div class="col-sm-1">
                                                    {{ myimage.attributes.license }}
                                                </div>
                                                <div class="col-sm-2">
                                                    {{  myimage.attributes.name[lang] }}
                                                </div>

                                                <div class="col-sm-5">
                                                    {{  myimage.attributes.description[lang] }}
                                                </div>
                                                <div class="col-sm-1">
                                                    {{ myimage.relationships.copyrightOwner.data.attributes.name[lang] }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Gps">
                                <br />
                                <div class="row" ng-repeat="gpsinfo in venue.odhdata.GpsInfo">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="inputType" class="col-sm-4 control-label">Type</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputType" placeholder="Type" ng-model="gpsinfo.Gpstype" readonly>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputLatitude" class="col-sm-4 control-label">Latitude</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputLatitude" placeholder="Latitude" ng-model="gpsinfo.Latitude" readonly>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputLongitude" class="col-sm-4 control-label">Longitude</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputLongitude" placeholder="Longitude" ng-model="gpsinfo.Longitude" readonly>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputAltitude" class="col-sm-4 control-label">Altitude</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputAltitude" placeholder="Altitude" ng-model="gpsinfo.Altitude" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="SubVenues">
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-horizontal" ng-repeat="subvenue in venue.relationships.subVenues">

                                            <div class="panel">
                                                <div class="form-group">
                                                    <label for="inputSubVenueName" class="col-sm-2 control-label">Name</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control notextareamaxwitdth" id="inputSubVenueName" placeholder="Name" ng-model="subvenue.attributes.name[lang]" readonly>
                                                    </div>

                                                    <label for="inputSubVenueSquaremeters" class="col-sm-2 control-label">Squaremeters</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control notextareamaxwitdth" id="inputSubVenueSquaremeters" placeholder="Squaremeters" ng-model="subvenue.attributes.dimension.squareMeters" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputSubVenuedoorHeight" class="col-sm-2 control-label">DoorHeight</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control notextareamaxwitdth" id="inputSubVenuedoorHeight" placeholder="DoorHeight" ng-model="subvenue.attributes.dimension.doorHeight" readonly>
                                                    </div>
                                                    <label for="inputSubVenueDoorWidth" class="col-sm-2 control-label">DoorWidth</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control notextareamaxwitdth" id="inputSubVenueDoorWidth" placeholder="DoorWidth" ng-model="subvenue.attributes.dimension.doorWidth" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputSubVenueHeight" class="col-sm-2 control-label">Height / Width / Length</label>
                                                    <div class="col-sm-1">
                                                        <input type="text" class="form-control notextareamaxwitdth" id="inputSubVenueHeight" placeholder="Height" ng-model="subvenue.attributes.dimension.height" readonly>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <input type="text" class="form-control notextareamaxwitdth" id="inputSubVenueWidth" placeholder="Width" ng-model="subvenue.attributes.dimension.width" readonly>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <input type="text" class="form-control notextareamaxwitdth" id="inputSubVenueLength" placeholder="Length" ng-model="subvenue.attributes.dimension.length" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div ng-repeat="availablesetup in subvenue.attributes.availableSetups">
                                                        <label for="inputSubVenueSetupType" class="col-sm-2 control-label">SetupType</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control notextareamaxwitdth" id="inputSubVenueSetupType" placeholder="SetupType" ng-model="availablesetup.setup" readonly>
                                                        </div>
                                                        <label for="inputSubVenueCapacity" class="col-sm-2 control-label">Capacity</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control notextareamaxwitdth" id="inputSubVenueCapacity" placeholder="Capacity" ng-model="availablesetup.capacity" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Location">
                                <br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-horizontal">

                                            <div class="form-group">
                                                <label for="inputRegion" class="col-sm-4 control-label">Region / TVB</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="inputRegion" class="form-control notextareamaxwitdth" placeholder="Region" ng-model="venue.odhdata.LocationInfo.RegionInfo.Name[lang.substring(0,2)]" disabled>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputTourismorganization" class="col-sm-4 control-label">Tourismorganization</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="inputTourismorganization" class="form-control notextareamaxwitdth" placeholder="Tourismorganization" ng-model="venue.odhdata.LocationInfo.TvInfo.Name[lang.substring(0,2)]" disabled>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-horizontal">

                                            <div class="form-group">
                                                <label for="inputMunicipality" class="col-sm-4 control-label">Municipality</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="inputMunicipality" class="form-control notextareamaxwitdth" placeholder="Municipality" ng-model="venue.odhdata.LocationInfo.MunicipalityInfo.Name[lang.substring(0,2)]" disabled>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputDistrict" class="col-sm-4 control-label">District</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="inputDistrict" class="form-control notextareamaxwitdth" placeholder="District" ng-model="venue.odhdata.LocationInfo.DistrictInfo.Name[lang.substring(0,2)]" disabled>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="ODH Tags">
                                <br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-horizontal">

                                            <label class="col-sm-4 control-label"></label>
                                            <div class="col-sm-8 input-group">
                                                <div ng-controller="SmgTagNameModalTypeAheadController">
                                                    <typeaheadsmgtag items="items" templateurl="SmgTagNameTemplate" prompt="Name" title="name" model="$parent.smgtagname" idmodel="$parent.smgtagid" on-select="onItemSelected()" />
                                                </div>
                                                <span class="input-group-btn" style="vertical-align:top">
                                                    <button type="button" class="btn btn-default" value="+" ng-click="addtag(smgtagid)"><i class="glyphicon glyphicon-plus"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-horizontal">

                                            <div class="input-group" ng-repeat="tag in venue.odhdata.SmgTags">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="deletetag(tag)"><i class="glyphicon glyphicon-minus"></i></button>
                                                </span>
                                                <input type="text" class="form-control notextareamaxwitdth" id="inputTagsingle" placeholder="Tag" ng-model="tag" readonly>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </tab>

                        </tabset>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="addvenue(venue,venueform.$valid)" ng-show="newvenue">Create</button>
                <button class="btn btn-primary" ng-click="updatevenue(venue,venueform.$valid)" ng-show="!newvenue">Save</button>
                <button class="btn btn-info" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="myVenueInfoModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancelslidemodal()" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Venue Info</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <carousel interval="myInterval">
                            <slide data-ng-repeat="slide in slides" active="slide.active">
                                <img data-ng-src="{{slide.url + '&H=320'}}" style="margin:auto;max-width:420px" class="img-rounded">
                                <div class="carousel-caption">
                                    <h4>{{slide.ImageTitle[lang]}}</h4>
                                    <p>{{slide.ImageDesc[lang]}}</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div style="max-width:420px;height:320px">
                        <leaflet lf-center="leafletcoords" max-width="420px" height="320px"></leaflet>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <br />
                    <h2>{{ venue.attributes.name[lang] }}</h2>

                    <div class="form-horizontal" ng-repeat="category in venue.attributes.categories">
                        {{ category }}
                    </div>
                    <br />

                    <div>
                        <strong>Beschreibung (Plain)</strong><br />
                        {{ venue.attributes.description[lang] }}
                    </div>

                    <div>
                        <strong>Anfahrt (Plain)</strong><br />
                        {{ venue.attributes.description[lang] }}
                    </div>

                    <strong>HTML Texte</strong><br />
                    <div ng-repeat="mediaobject in venue.relationships.multimediaDescriptions.data">

                        <div ng-show="mediaobject.attributes.contentType == 'text/html'">
                            {{ mediaobject.categories[0] }}<br />
                            <div ng-bind-html="mediaobject.attributes.url | decoded2"></div>
                        </div>

                    </div>

                </div>
            </div>
            @*Contactinfos*@
            <div class="row">
                <div class="col-sm-6">
                    <h3>Contact</h3>

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th colspan="2">Address</th>
                        </tr>
                        <tr>
                            <td>
                                Strasse
                            </td>
                            <td>
                                {{ venue.attributes.address[0].street[lang] }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Stadt
                            </td>
                            <td>
                                {{ venue.attributes.address[0].zipcode }} - {{ venue.attributes.address[0].city[lang] }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Region
                            </td>
                            <td>
                                {{ venue.attributes.address[0].region[lang] }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tel / Fax
                            </td>
                            <td>
                                {{ venue.attributes.address[0].contactPoint.telephone }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                E-Mail
                            </td>
                            <td>
                                {{ venue.attributes.address[0].contactPoint.email }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Web
                            </td>
                            <td>
                                {{ venue.attributes.url[lang] }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6">
                    <h3>Rooms</h3>
                    <div ng-repeat="subvenue in venue.relationships.subVenues">

                        <table class="table table-bordered table-striped">
                            <tr>
                                <td>Name</td>
                                <td>{{ subvenue.attributes.name[lang] }}</td>
                            </tr>
                            <tr>
                                <td>squareMeters</td>
                                <td>{{ subvenue.attributes.dimension.squaremeters }}</td>
                            </tr>
                            <tr>
                                <td>doorHeight</td>
                                <td>{{ subvenue.attributes.dimension.doorHeight }}</td>
                            </tr>
                            <tr>
                                <td>doorWidth</td>
                                <td>{{ subvenue.attributes.dimension.doorWidth }}</td>
                            </tr>
                            <tr>
                                <td>height</td>
                                <td>{{ subvenue.attributes.dimension.height }}</td>
                            </tr>
                            <tr>
                                <td>length</td>
                                <td>{{ subvenue.attributes.dimension.length }}</td>
                            </tr>
                            <tr>
                                <td>width:</td>
                                <td>{{ subvenue.attributes.dimension.width }}</td>
                            </tr>
                            <tr>
                                <td>Available Setups:</td>
                                <td>
                                    <div ng-repeat="availablesetup in subvenue.attributes.availableSetups">
                                        <b>type: {{ availablesetup.setup }}</b> - capacity: {{ availablesetup.capacity }}
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button class="btn btn-info" ng-click="cancelslidemodal()">Cancel</button>
        </div>
    </script>
</div>

@section Styles{
    <style type="text/css">
    </style>
    <link rel="stylesheet" href="~/css/angular.rangeSlider.css" />
}


@section Scripts {

    <script src="~/NgScripts/appconfig.js"></script>
    <script src="~/NgScripts/VenueController.js?ver=20200528"></script>


    @*<script src="~/Scripts/angular-route.min.js"></script>*@
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js'></script>
}
