
@{
    ViewBag.Title = "SightseenList LTS";
}
@section jumbotronsect {
    <h2>Culture & sights Poi List (LTS)</h2>
}
@section infomodaltext {
    <h2>Poi Data / Culture and sights</h2>
    <p>All data is syncronized daily from LTS TIC Web Interface (Poi Data).</p>
    <p>
        All data is daily updated also present on the container ODHActivityPoi.
    </p>
    <p>Only CC0 Images are displayed</p>
}

<div class="col-xs-12" ng-app="poi" ng-controller="poiListController" ng-init="init('Kultur und Sehenswürdigkeiten','@ViewBag.predefinedlocationfilter','@ViewBag.predefinedlocationfiltertyp')">

    <div class="splash" ng-show="isloading">
        <h2>
            Loading
        </h2>
        <span>
            <i class="fa fa-spinner fa-5x fa-spin active"></i>
        </span>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-inline">

                <div class="pull-right">
                    <div class="btn-group" ng-click="changeLanguage()">
                        @*<button type="button" class="btn btn-default active" ng-click="setlang('de')">de</button>
                            <button type="button" class="btn btn-default" ng-click="setlang('it')">it</button>
                            <button type="button" class="btn btn-default" ng-click="setlang('en')">en</button>*@

                        <label class="btn btn-default" ng-model="lang" btn-radio="'de'">de</label>
                        <label class="btn btn-default" ng-model="lang" btn-radio="'it'">it</label>
                        <label class="btn btn-default" ng-model="lang" btn-radio="'en'">en</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <br />
            <div class="form-inline">
                <div class="pull-right">
                    <span class="btn btn-default"> Elements: {{ totalcount }} </span>
                    <input type="button" id="prevpage" ng-click="changePage(-1,true)" class="btn btn-info" value="prev" ng-disabled="page == 1" />
                    &nbsp;{{ page }}&nbsp;/&nbsp;{{ totalpages }}&nbsp;
                    <input type="button" id="nextpage" ng-click="changePage(+1,true)" class="btn btn-info" value="next" ng-disabled="page == totalpages || totalpages == 0" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <br />
        <div class="col-sm-3 col-xs-12 table-bordered filtertable">
            <div class="form-inline">
                <br />
                <div class="form-group col-sm-12">
                    <input type="button" id="filterbutton" ng-click="applyFilter(1)" class="btn btn-info" value="Filter" />
                    <input type="button" id="clearfilterbutton" ng-click="clearFilter()" class="btn btn-default" value="Clear" />
                </div>

                @*<div class="form-group col-sm-12">
                        <h6>Name</h6>
                        <input type="text" class="form-control" id="filterName" placeholder="Filter" ng-model="filter" autofocus>
                    </div>*@

                <div class="form-group col-sm-12" ng-controller="PoinameTypeAheadController">
                    <h6>Poi Name<small class="btn-link pull-right" ng-click="clearNameFilter()">Clear</small></h6>
                    <typeaheadpoi items="items" templateurl="PoiNameTemplate" prompt="Name" title="name" subtitle="typ" model="$parent.SelectedPoiName" idmodel="$parent.SelectedPoiId" on-select="onItemSelected()" />
                </div>

                <div class="form-group col-sm-12" ng-controller="LocationTypeAheadController">
                    <h6>Location<small class="btn-link pull-right" ng-click="clearLocationFilter()">Clear</small></h6>
                    <typeaheadpoi items="locitems" templateurl="LocationNameTemplate" prompt="Tourismverein" title="name" subtitle="typ" model="$parent.SelectedLocationName" submodel="$parent.SelectedLocationTyp" idmodel="$parent.SelectedLocationId" on-select="onItemSelected()" />
                </div>

                <div class="form-group col-sm-12" ng-controller="SmgTagNameTypeAheadController">
                    <h6>ODH Tag<small class="btn-link pull-right" ng-click="clearTagFilter()">Clear</small></h6>
                    <typeaheadsmgtag items="items" templateurl="SmgTagNameTemplate" prompt="Name" title="name" model="$parent.SelectedSmgTagName" idmodel="$parent.SelectedSmgTagId" on-select="onItemSelected()" />
                </div>

                <div class="form-group col-sm-12">
                    <h6>Highlight<small class="btn-link pull-right" ng-click="clearHighlightFilter()">Clear</small></h6>
                    <input type="checkbox" class="checkbox" ng-model="highlight" />
                </div>

                <div class="form-group col-sm-12">
                    <h6>Type<small class="btn-link pull-right" ng-click="clearTypeFilter()">Clear</small></h6>
                    <div class="btn-group-vertical">
                        <label class="btn btn-default" ng-model="checkSubTypeModel.1" style="white-space: normal;" btn-checkbox>Monuments, natural monuments</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.2" btn-checkbox>Parks</label>
                        <label class="btn btn-info" ng-model="checkSubTypeModel.3" style="white-space: normal;" btn-checkbox>Historical buildings</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.4" btn-checkbox>Raised hides</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.5" btn-checkbox>Castles</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.6" btn-checkbox>Forts</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.7" btn-checkbox>Ruins</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.8" style="white-space: normal;" btn-checkbox>Other historical buildings</label>

                        <label class="btn btn-default" ng-model="checkSubTypeModel.9" style="white-space: normal;" btn-checkbox>Churches, chapels, religious centres</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.10" btn-checkbox>Cultural centres</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.11" btn-checkbox>Museums and exhibitions</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.12" style="white-space: normal;" btn-checkbox>Nature reserves, National Park Centre</label>
                        <label class="btn btn-info" ng-model="checkSubTypeModel.13" btn-checkbox>Production facilities</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.14" btn-checkbox>Brewery</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.15" btn-checkbox>Distillery</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.16" btn-checkbox>Fruit Growers Cooperatives</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.17" style="white-space: normal;" btn-checkbox>Wine producers and Wineries</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.18" btn-checkbox>Other producers</label>

                        <label class="btn btn-default" ng-model="checkSubTypeModel.19" btn-checkbox>Lakes, cascades</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.20" btn-checkbox>Theatre</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.21" style="white-space: normal;" btn-checkbox>Viewpoints</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.22" btn-checkbox>Mystical sites</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.23" btn-checkbox>Historical squares</label>
                        <label class="btn btn-default" ng-model="checkSubTypeModel.24" style="white-space: normal;" btn-checkbox>Other culture-and landmarks</label>
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <h6>active on source<small class="btn-link pull-right" ng-click="clearTICActiveFilter()">Clear</small></h6>
                    <select class="form-control" id="selectTyp" ng-model="active">
                        <option value="null">all</option>
                        <option value="true">active</option>
                        <option value="false">not active</option>
                    </select>
                </div>

                <div class="form-group col-sm-12">
                    <h6>available on ODHActivityPoi<small class="btn-link pull-right" ng-click="clearActiveFilter()">Clear</small></h6>
                    <select class="form-control" id="selectTyp" ng-model="smgactive">
                        <option value="null">all</option>
                        <option value="true">active</option>
                        <option value="false">not active</option>
                    </select>
                </div>

                <div class="form-group col-sm-12">
                    <br />
                    <input type="button" id="filterbutton" ng-click="applyFilter(1)" class="btn btn-info" value="Filter" />
                    <input type="button" id="clearfilterbutton" ng-click="clearFilter()" class="btn btn-default" value="Clear" />
                    <br />
                    <br />
                </div>

            </div>

        </div>

        <div class="col-sm-9 col-xs-12 table-responsive">

            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th style="width:160px">MainImage</th>
                        <th style="min-width: 80px;">Shortname</th>
                        <th style="min-width: 80px;">Type</th>
                        <th style="min-width: 80px;">Location</th>

                        <th style="min-width: 80px;">active on source</th>
                        @*<th style="min-width: 80px;">ODH active</th>*@
                        @*<th style="min-width: 80px;">Outdooractive</th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="poi in pois | filter:query">
                        <td>
                            <div style="max-width:150px;min-height:75px">
                                <img class="img-thumbnail img-responsive" @*style="max-height:150px;max-width:150px"*@ ng-src="{{  poi.ImageGallery[0] != NULL && poi.ImageGallery[0].ImageUrl + '&W=150&H=150' || '../img/noimage.png' }}" @*ng-hide="activity.ImageGallery[0] == NULL"*@ title="{{ poi.ImageGallery[0].ImageDesc['de']}}" ng-click="showInfoModal(poi)" />
                            </div>
                        </td>
                        <td>{{ poi.Detail[lang].Title }}</td>
                        <td>{{ poi.AdditionalPoiInfos[lang].MainType }} - {{ poi.AdditionalPoiInfos[lang].SubType }}</td>
                        <td>{{ poi.LocationInfo.RegionInfo.Name[lang] }} - {{ poi.LocationInfo.TvInfo.Name[lang] }}</td>
                        <td>
                            <div class="glyphicon glyphicon-ok" ng-show="poi.Active"></div>
                            <div class="glyphicon glyphicon-remove" ng-show="poi.Active == false"></div>
                        </td>
                        @*<td>
                            <div class="glyphicon glyphicon-ok" ng-show="poi.SmgActive" style="color:green"></div>
                            <div class="glyphicon glyphicon-remove" ng-show="poi.SmgActive == false" style="color:red"></div>
                        </td>*@
                        @*<td>
                                <a class="btn btn-xs btn-success" ng-show="poi.OutdooractiveID > 0" href="https://regio.outdooractive.com/oar-suedtirol-alto-adige/r/{{ poi.OutdooractiveID }}/" target="_blank">Outdooractive</a>
                            </td>*@
                        <td>
                            <div class="btn-group-vertical">
                                @if (@ViewBag.globalmodify == true || @ViewBag.poimodify == true || @ViewBag.globaldetail == true)
                                {
                                    <a ng-click="editpoi(poi)" class="btn btn-responsive btn-info">edit</a>
                                }
                                @if (@ViewBag.globaldelete == true || @ViewBag.poidelete == true)
                                {
                                    <a ng-click="deletepoi(poi.Id)" class="btn btn-responsive btn-danger">delete</a>
                                }
                                @if (@ViewBag.globalupdate == true || @ViewBag.poiupdate == true)
                                {
                                    <a ng-click="updatepoi(poi.Id)" class="btn btn-responsive btn-warning">Update</a>
                                }
                                @*@if (@ViewBag.globalmodify == true || @ViewBag.poimodify == true)
                                {
                                    <a ng-click="opentypeselectormodal(poi)" class="btn btn-responsive btn-primary">to ODH</a>
                                }*@
                                <a ng-click="showInfoModal(poi)" class="btn btn-responsive btn-success" style="width:70px;">Detail</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-inline">
                @if (@ViewBag.globalcreate == true || @ViewBag.poicreate == true)
                {
                    <div class="pull-left">
                        <a ng-click="editpoi('new')" class="btn btn-small btn-success">New</a>
                    </div>
                }
                <div class="pull-right">
                    <span class="btn btn-default"> Elements: {{ totalcount }} </span>
                    <input type="button" id="prevpage" ng-click="changePage(-1,true)" class="btn btn-info" value="prev" ng-disabled="page == 1" />
                    &nbsp;{{ page }}&nbsp;/&nbsp;{{ totalpages }}&nbsp;
                    <input type="button" id="nextpage" ng-click="changePage(+1,true)" class="btn btn-info" value="next" ng-disabled="page == totalpages || totalpages == 0" />
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="myPoiModal.html">
        <form name="poiform">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Poi Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-group pull-left">
                            <p>
                                Available Languages:
                                <label class="btn btn-default" ng-repeat="poilang in poi.HasLanguage">{{poilang}}</label>
                            </p>
                        </div>

                        <div class="btn-group pull-right">
                            <label class="btn btn-default" ng-model="lang" btn-radio="'de'">de</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'it'">it</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'en'">en</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                    </div>
                </div>

                <tabset>
                    <tab heading="General">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputId" class="col-sm-4 control-label">Id</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputId" placeholder="Id" ng-model="poi.Id" ng-show="newpoi" required>
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputId" placeholder="Id" ng-model="poi.Id" ng-show="!newpoi" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-4 control-label">Shortname</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputName" placeholder="Shortname" ng-model="poi.Shortname" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputTourismorganization" class="col-sm-4 control-label">Tourismorganization</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputTourismorganization" ng-model="poi.TourismorganizationId" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputArea" class="col-sm-4 control-label">LTS Area</label>
                                        <div class="col-sm-8">
                                            <ul class="list-group" style="margin-bottom:0px">
                                                <li class="list-group-item" style="padding:0px" ng-repeat="area in poi.AreaId"><input type="text" class="form-control notextareamaxwitdth" id="inputArea" ng-model="area" readonly></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-4 control-label">Last Changed</label>
                                        <div class="col-sm-8">
                                            <div class="form-control">{{ poi.LastChange | moment:'DD-MM-YYYY HH:mm' }}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-4 control-label">active on source</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" class="form-control" id="checkboxActive" ng-model="poi.Active" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-4 control-label">ODH active</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" class="form-control" id="checkboxSmgActive" ng-model="poi.SmgActive" disabled>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputPoiType" class="col-sm-4 control-label">Type</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputPoiType" ng-model="poi.Type" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputSubTyp" class="col-sm-4 control-label">SubType</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputSubTyp" ng-model="poi.SubType" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPoiType" class="col-sm-4 control-label">PoiType</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputPoiType" ng-model="poi.PoiType" readonly>
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            <label for="inputSmgId" class="col-sm-4 control-label">Smg Id</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control notextareamaxwitdth" id="inputSmgId" ng-model="poi.SmgId" readonly>
                                            </div>
                                        </div>*@

                                    <div class="form-group">
                                        <label for="inputHighlight" class="col-sm-4 control-label">Highlight</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" class="checkbox" id="inputHighlight" ng-model="poi.Highlight" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputIsOpen" class="col-sm-4 control-label">Open</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" class="checkbox" id="inputIsOpen" ng-model="poi.IsOpen" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputHasFreeEntrance" class="col-sm-4 control-label">Free Entrance</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" class="checkbox" id="inputHasFreeEntrance" ng-model="poi.HasFreeEntrance" disabled>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tab>

                      <tab heading="Detail">
                                <br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-horizontal">

                                            <div class="form-group">
                                                <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputTitle" placeholder="Title" ng-model="poi.Detail[lang].Title" ng-disabled="lang == 'de' || lang == 'it' || lang == 'en'">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputIntroText" class="col-sm-2 control-label">IntroText / ShortText</label>
                                                <div class="col-sm-10">
                                                    <textarea rows="5" class="form-control notextareamaxwitdth" id="inputIntroText" placeholder="IntroText" ng-model="poi.Detail[lang].IntroText" ng-disabled="lang == 'de' || lang == 'it' || lang == 'en'"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputBaseText" class="col-sm-2 control-label">BaseText</label>
                                                <div class="col-sm-10">
                                                    <textarea rows="9" class="form-control notextareamaxwitdth" id="inputBaseText" placeholder="BaseText" ng-model="poi.Detail[lang].BaseText" ng-disabled="lang == 'de' || lang == 'it' || lang == 'en'"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputGetThereText" class="col-sm-2 control-label">GetThere Text</label>
                                                <div class="col-sm-10">
                                                    <textarea rows="5" class="form-control notextareamaxwitdth" id="inputGetThereText" placeholder="GetThereText" ng-model="poi.Detail[lang].GetThereText" ng-disabled="lang == 'de' || lang == 'it' || lang == 'en'"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputAdditionalText" class="col-sm-2 control-label">Additional Text</label>
                                                <div class="col-sm-10">
                                                    <textarea rows="5" class="form-control notextareamaxwitdth" id="inputAdditionalText" placeholder="AdditionalText" ng-model="poi.Detail[lang].AdditionalText" ng-disabled="lang == 'de' || lang == 'it' || lang == 'en'"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-horizontal">

                                            <div class="form-group">
                                                <label for="inputParkingInfo" class="col-sm-2 control-label">Parking Info</label>
                                                <div class="col-sm-10">
                                                    <textarea rows="5" class="form-control notextareamaxwitdth" id="inputParkingInfo" placeholder="ParkingInfo" ng-model="poi.Detail[lang].ParkingInfo" ng-disabled="lang == 'de' || lang == 'it' || lang == 'en'"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputPublicTransportationInfo" class="col-sm-2 control-label">Public Transportation Info</label>
                                                <div class="col-sm-10">
                                                    <textarea rows="5" class="form-control notextareamaxwitdth" id="inputPublicTransportationInfo" placeholder="PublicTransportationInfo" ng-model="poi.Detail[lang].PublicTransportationInfo" ng-disabled="lang == 'de' || lang == 'it' || lang == 'en'"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputAuthorTip" class="col-sm-2 control-label">Author Tip</label>
                                                <div class="col-sm-10">
                                                    <textarea rows="5" class="form-control notextareamaxwitdth" id="inputAuthorTip" placeholder="AuthorTip" ng-model="poi.Detail[lang].AuthorTip" ng-disabled="lang == 'de' || lang == 'it' || lang == 'en'"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputSafetyInfo" class="col-sm-2 control-label">Safety Info</label>
                                                <div class="col-sm-10">
                                                    <textarea rows="5" class="form-control notextareamaxwitdth" id="inputSafetyInfo" placeholder="SafetyInfo" ng-model="poi.Detail[lang].SafetyInfo" ng-disabled="lang == 'de' || lang == 'it' || lang == 'en'"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputEquipmentInfo" class="col-sm-2 control-label">EquipmentInfo</label>
                                                <div class="col-sm-10">
                                                    <textarea rows="5" class="form-control notextareamaxwitdth" id="inputEquipmentInfo" placeholder="EquipmentInfo" ng-model="poi.Detail[lang].EquipmentInfo" ng-disabled="lang == 'de' || lang == 'it' || lang == 'en'"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </tab>

                    <tab heading="Gps">
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">

                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="gps in poi.GpsInfo">
                                            <span>{{ gps.Gpstype }} - {{ gps.Latitude }} - {{ gps.Longitude }} - {{ gps.Altitude }}m</span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Track">
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">

                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="gps in poi.GpsTrack">
                                            <span><a href="gps.GpxTrackUrl" target="new">{{ gps.GpxTrackDesc[lang] }}</a></span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Contact">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputCompanyName" class="col-sm-4 control-label">CompanyName</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputCompanyName" placeholder="CompanyName" ng-model="poi.ContactInfos[lang].CompanyName" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputAddress" class="col-sm-4 control-label">Address</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputAddress" placeholder="Address" ng-model="poi.ContactInfos[lang].Address" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputCity" class="col-sm-4 control-label">City</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="inputZipCode" placeholder="ZipCode" ng-model="poi.ContactInfos[lang].ZipCode" readonly>
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="inputCity" placeholder="City" ng-model="poi.ContactInfos[lang].City" readonly>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputCountryName" class="col-sm-4 control-label">Country</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="inputCountryCode" placeholder="CountryCode" ng-model="poi.ContactInfos[lang].CountryCode" readonly>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputCountryName" placeholder="CountryName" ng-model="poi.ContactInfos[lang].CountryName" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputGivenname" class="col-sm-4 control-label">Name</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="inputNamePrefix" placeholder="Prefix" ng-model="poi.ContactInfos[lang].NamePrefix" readonly>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="inputSurname" placeholder="Surname" ng-model="poi.ContactInfos[lang].Surname" readonly>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputGivenname" placeholder="Givenname" ng-model="poi.ContactInfos[lang].Givenname" readonly>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputEmail" class="col-sm-4 control-label">Email</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputEmail" placeholder="Email" ng-model="poi.ContactInfos[lang].Email" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPhonenumber" class="col-sm-4 control-label">Phonenumber</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputPhonenumber" placeholder="Phonenumber" ng-model="poi.ContactInfos[lang].Phonenumber" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputFaxnumber" class="col-sm-4 control-label">Faxnumber</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputFaxnumber" placeholder="Faxnumber" ng-model="poi.ContactInfos[lang].Faxnumber" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputUrl" class="col-sm-4 control-label">Url</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputUrl" placeholder="Url" ng-model="poi.ContactInfos[lang].Url" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputVat" class="col-sm-4 control-label">Vat / Tax</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="inputVat" placeholder="Vat" ng-model="poi.ContactInfos[lang].Vat" readonly>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputTax" placeholder="Tax" ng-model="poi.ContactInfos[lang].Tax" readonly>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Additional">
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">

                                    @*<div class="form-group">
                                            <label for="inputDifficulty" class="col-sm-4 control-label">Difficulty</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputDifficulty" placeholder="Difficulty" ng-model="poi.AdditionalPoiInfos[lang].Difficulty" readonly>
                                            </div>
                                        </div>*@

                                    <div class="form-group">
                                        <label for="inputMainType" class="col-sm-2 control-label">MainType</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputMainType" placeholder="MainType" ng-model="poi.AdditionalPoiInfos[lang].MainType" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputSubType" class="col-sm-2 control-label">SubType</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputSubType" placeholder="SubType" ng-model="poi.AdditionalPoiInfos[lang].SubType" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputNovelty" class="col-sm-2 control-label">Novelty</label>
                                        <div class="col-sm-10">
                                            <textarea rows="4" type="text" class="form-control notextareamaxwitdth" id="inputNovelty" placeholder="Novelty" ng-model="poi.AdditionalPoiInfos[lang].Novelty" readonly></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Images">
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">
                                    <h4>Images (LTS)</h4>


                                    <div class="row">

                                        <div class="col-sm-2"><b>Image</b></div>
                                        <div class="col-sm-1"><b>Position</b></div>
                                        <div class="col-sm-1"><b>License</b></div>
                                        <div class="col-sm-2"><b>Title</b></div>
                                        <div class="col-sm-5"><b>Description</b></div>
                                        <div class="col-sm-1"><b>Copyright</b></div>
                                    </div>

                                    <div class="row" ng-repeat="bild in poi.ImageGallery | filter: isLTSImage">

                                        <div class="col-sm-2">
                                            <img class="img-thumbnail" ng-src="{{ bild.ImageUrl + '&H=150' }}" style="max-height:150px; max-width:200px;" />
                                        </div>
                                        <div class="col-sm-1">
                                            {{ bild.ListPosition }}
                                        </div>
                                        <div class="col-sm-1">
                                            {{ bild.License }}
                                        </div>
                                        <div class="col-sm-2">
                                            {{ bild.ImageTitle[lang] }}
                                        </div>
                                        <div class="col-sm-5">
                                            {{ bild.ImageDesc[lang] }}<br />
                                        </div>
                                        <div class="col-sm-1">
                                            {{ bild.CopyRight }}<br />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Season">
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">

                                    <div ng-repeat="operationschedule in poi.OperationSchedule">

                                        <div class="form-group">
                                            <label for="inputOperationScheduleName" class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="inputOperationScheduleName" class="form-control" ng-model="operationschedule.OperationscheduleName['de']" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputOperationScheduleNameStart" class="col-sm-2 control-label">Start</label>
                                            <div class="col-sm-10">
                                                <div class="form-control">
                                                    {{ operationschedule.Start | moment:'DD/MM/YYYY' }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputOperationScheduleNameStop" class="col-sm-2 control-label">Stop</label>
                                            <div class="col-sm-10">
                                                <div class="form-control">
                                                    {{ operationschedule.Stop | moment:'DD/MM/YYYY' }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputOperationScheduleType" class="col-sm-2 control-label">Type</label>
                                            <div class="col-sm-10">
                                                <div class="form-control">
                                                    {{ operationschedule.Type }}

                                                </div>
                                                <ul>
                                                    <li>1 = Standard</li>
                                                    <li>2 = only day + month recurring (year not to consider)</li>
                                                    <li>3 = only month recurring (season: year and day not to consider)</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-repeat="operationscheduletime in operationschedule.OperationScheduleTime">
                                            <label for="inputOperationScheduleNameStop" class="col-sm-2 control-label">OperationSchedule Time</label>
                                            <div class="col-sm-10">
                                                <div class="form-control">{{ operationscheduletime.Start }} - {{ operationscheduletime.End }} </div>
                                                @*<select class="form-control" id="selectOpeningtimecode" ng-model="operationscheduletime.State" disabled>
                                                        <option value="1">closed</option>
                                                        <option value="2">open</option>
                                                        <option value="0">Undefined</option>
                                                    </select>
                                                    <select class="form-control" id="selectOpeningtimecode" ng-model="operationscheduletime.Timecode" disabled>
                                                        <option value="0">Undefined</option>
                                                        <option value="1">General Opening Time</option>
                                                        <option value="2">Time range for warm meals</option>
                                                        <option value="3">Time range for pizza</option>
                                                        <option value="4">Time range for snack's</option>
                                                    </select>*@
                                                <div class="btn-group-horizontal">
                                                    <label class="btn btn-default" ng-model="operationscheduletime.Monday" btn-checkbox>Mon</label>
                                                    <label class="btn btn-default" ng-model="operationscheduletime.Tuesday" btn-checkbox>Tue</label>
                                                    <label class="btn btn-default" ng-model="operationscheduletime.Wednesday" btn-checkbox>Wed</label>
                                                    <label class="btn btn-default" ng-model="operationscheduletime.Thuresday" btn-checkbox>Thu</label>
                                                    <label class="btn btn-default" ng-model="operationscheduletime.Friday" btn-checkbox>Fri</label>
                                                    <label class="btn btn-default" ng-model="operationscheduletime.Saturday" btn-checkbox>Saty</label>
                                                    <label class="btn btn-default" ng-model="operationscheduletime.Sunday" btn-checkbox>Sun</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Location">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputRegion" class="col-sm-4 control-label">Region / TVB</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="inputRegion" class="form-control notextareamaxwitdth" placeholder="Region" ng-model="poi.LocationInfo.RegionInfo.Name[lang]" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputTourismorganization" class="col-sm-4 control-label">Tourismorganization</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="inputTourismorganization" class="form-control notextareamaxwitdth" placeholder="Tourismorganization" ng-model="poi.LocationInfo.TvInfo.Name[lang]" disabled>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputArea" class="col-sm-4 control-label">Area</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="inputArea" class="form-control notextareamaxwitdth" placeholder="Area" ng-model="poi.LocationInfo.AreaInfo.Name[lang]" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputMunicipality" class="col-sm-4 control-label">Municipality</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="inputMunicipality" class="form-control notextareamaxwitdth" placeholder="Municipality" ng-model="poi.LocationInfo.MunicipalityInfo.Name[lang]" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDistrict" class="col-sm-4 control-label">District</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="inputDistrict" class="form-control notextareamaxwitdth" placeholder="District" ng-model="poi.LocationInfo.DistrictInfo.Name[lang]" disabled>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="ODH Tags">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <label class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8 input-group">
                                        <div ng-controller="SmgTagNameModalTypeAheadController">
                                            <typeaheadsmgtag items="items" templateurl="SmgTagNameTemplate" prompt="Name" title="name" model="$parent.smgtagname" idmodel="$parent.smgtagid" on-select="onItemSelected()" />
                                        </div>
                                        <span class="input-group-btn" style="vertical-align:top">
                                            <button type="button" class="btn btn-default" value="+" ng-click="addtag(smgtagid)"><i class="glyphicon glyphicon-plus"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="input-group" ng-repeat="tag in poi.SmgTags">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="deletetag(tag)"><i class="glyphicon glyphicon-minus"></i></button>
                                        </span>
                                        <input type="text" class="form-control notextareamaxwitdth" id="inputTagsingle" placeholder="Tag" ng-model="tag" readonly>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </tab>

                </tabset>
            </div>
            <div class="modal-footer">
                @if (@ViewBag.globalmodify == true || @ViewBag.poimodify == true)
                {
                    <button class="btn btn-responsive btn-danger" ng-click="opentypeselectormodal(poi)">to GB</button>
                }
                @*<button class="btn btn-success" ng-click="addpoi(poi,poiform.$valid)" ng-show="newpoi">Create</button>
                    <button class="btn btn-warning" ng-click="updatepoi(poi,poiform.$valid)" ng-show="!newpoi">Save</button>*@
                <button class="btn btn-info" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="myPoiInfoModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancelslidemodal()" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Poi Info</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <carousel interval="myInterval">
                            <slide data-ng-repeat="slide in slides" active="slide.active">
                                <img data-ng-src="{{slide.ImageUrl + '&H=320'}}" style="margin:auto;max-width:420px" class="img-rounded">
                                <div class="carousel-caption">
                                    <h4>{{slide.ImageTitle[lang]}}</h4>
                                    <p>{{slide.ImageDesc[lang]}}</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div style="max-width:420px;height:320px">
                        <leaflet lf-center="leafletcoords" max-width="420px" height="320px"></leaflet>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <br />
                    <h2>{{ poi.Detail[lang].Title }}</h2>
                    <h4>{{ poi.AdditionalPoiInfos[lang].MainType }} - {{ poi.AdditionalPoiInfos[lang].SubType }}</h4>


                    <p ng-show="poi.Detail[lang].IntroText != '' && poi.Detail[lang].IntroText != null">
                        <strong>Introtext</strong><br />
                        {{ poi.Detail[lang].IntroText }}
                    </p>

                    <div ng-show="poi.Detail[lang].BaseText != null && poi.Detail[lang].BaseText != ''">
                        <strong>Basistext</strong><br />
                        <p ng-bind-html="poi.Detail[lang].BaseText"></p>
                    </div>


                    <div ng-show="poi.Detail[lang].GetThereText != '' && poi.Detail[lang].GetThereText != null">
                        <strong>Anfahrtstext</strong><br />
                        <p ng-bind-html="poi.Detail[lang].GetThereText"></p>
                    </div>

                   <div ng-show="poi.Detail[lang].AdditionalText != '' && poi.Detail[lang].AdditionalText != null">
                        <strong>Zusatztext</strong><br />
                        <p ng-bind-html="poi.Detail[lang].AdditionalText"></p>
                    </div>

                    <div ng-show="poi.Detail[lang].ParkingInfo != '' && poi.Detail[lang].ParkingInfo != null">
                        <strong>Parkplatz</strong><br />
                        <p ng-bind-html="poi.Detail[lang].ParkingInfo"></p>
                    </div>

                    <div ng-show="poi.Detail[lang].PublicTransportationInfo != '' && poi.Detail[lang].PublicTransportationInfo != null">
                        <strong>Öffentliche Verkehrsmittel</strong><br />
                        <p ng-bind-html="poi.Detail[lang].PublicTransportationInfo"></p>
                    </div>

                    <div ng-show="poi.Detail[lang].AuthorTip != '' && poi.Detail[lang].AuthorTip != null">
                        <strong>Authors Tipps</strong><br />
                        <p ng-bind-html="poi.Detail[lang].AuthorTip"></p>
                    </div>

                    <div ng-show="poi.Detail[lang].SafetyInfo != '' && poi.Detail[lang].SafetyInfo != null">
                        <strong>Sicherheitsinformationen</strong><br />
                        <p ng-bind-html="poi.Detail[lang].SafetyInfo"></p>
                    </div>

                    <div ng-show="poi.Detail[lang].EquipmentInfo != '' && poi.Detail[lang].EquipmentInfo != null">
                        <strong>Ausrüstung</strong><br />
                        <p ng-bind-html="poi.Detail[lang].EquipmentInfo"></p>
                    </div>

                </div>
            </div>

            @*Contactinfos*@
            <div class="row">
                <div class="col-sm-6">

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th colspan="2">Poi Details</th>
                        </tr>
                        @*<tr>
                                <td>
                                    Schwierigkeit
                                </td>
                                <td>
                                    {{ poi.AdditionalPoiInfos[lang].Difficulty }}
                                </td>
                            </tr>*@

                        <tr>
                            <td>Status</td>
                            <td>
                                <p ng-show="poi.HasFreeEntrance">HasFreeEntrance</p>
                                <p ng-show="poi.Highlight">Highlight</p>
                                <p ng-show="poi.IsOpen">Geöffnet</p>
                                <p ng-show="poi.IsPrepared">Prepared</p>
                                <p ng-show="poi.IsWithLigth">Beleuchtet</p>
                                <p ng-show="poi.HasRentals">Verleih</p>
                                <p ng-show="poi.RunToValley">Talfahrt möglich</p>
                            </td>
                        </tr>
                        <tr ng-show="poi.AdditionalPoiInfos[lang].Novelty != null">
                            <td>News</td>
                            <td>
                                <p>{{ poi.AdditionalPoiInfos[lang].Novelty }}</p>
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="col-sm-6">

                    <table class="table table-bordered table-striped">
                        <tr>
                            <th colspan="2">Contactinfo</th>
                        </tr>
                        <tr>
                            <td>
                                Organisation
                            </td>
                            <td>
                                {{ poi.ContactInfos[lang].CompanyName }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Adresse
                            </td>
                            <td>
                                {{ poi.ContactInfos[lang].Address }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ort
                            </td>
                            <td>
                                {{ poi.ContactInfos[lang].ZipCode }} - {{ poi.ContactInfos[lang].City }}
                            </td>
                        </tr>
                        <tr ng-show="poi.ContactInfos[lang].Surname != ''">
                            <td>
                                Ansprechpartner
                            </td>
                            <td>
                                {{ poi.ContactInfos[lang].Surname }}&nbsp;{{ poi.ContactInfos[lang].Givenname }}
                            </td>
                        </tr>
                        <tr ng-show="">
                            <td>
                                Tel / Fax
                            </td>
                            <td>
                                {{ poi.ContactInfos[lang].Phonenumber }}<br />
                                {{ poi.ContactInfos[lang].Faxnumber }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                E-Mail
                            </td>
                            <td>
                                {{ poi.ContactInfos[lang].Email }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Web
                            </td>
                            <td>
                                {{ poi.ContactInfos[lang].Url }}
                            </td>
                        </tr>

                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p ng-show="poi.OperationSchedule != '' && poi.OperationSchedule != null">
                        <strong>Season</strong><br />
                        <div ng-repeat=" operationschedule in poi.OperationSchedule">
                            <strong ng-show="operationschedule.OperationscheduleName[lang] != ''">{{ operationschedule.OperationscheduleName[lang] }}</strong>
                            {{ operationschedule.Start | moment:'DD/MM/YYYY' }} -  {{ operationschedule.Stop | moment:'DD/MM/YYYY' }}
                            <div ng-repeat="operationscheduletime in operationschedule.OperationScheduleTime">

                                <div ng-show="operationscheduletime.State == 1">
                                    Closed on:
                                    {{ operationscheduletime.Start }} - {{ operationscheduletime.End }}

                                    <select class="form-control" id="selectOpeningtimecode" ng-model="operationscheduletime.Timecode" disabled>
                                        <option value="1">General Opening Time</option>
                                        <option value="2">Time range for warm meals</option>
                                        <option value="3">Time range for pizza</option>
                                        <option value="4">Time range for snack's</option>
                                    </select>

                                    <div class="btn-group-horizontal">
                                        <label class="btn btn-default" ng-model="operationscheduletime.Monday" btn-checkbox>Monday</label>
                                        <label class="btn btn-default" ng-model="operationscheduletime.Tuesday" btn-checkbox>Tuesday</label>
                                        <label class="btn btn-default" ng-model="operationscheduletime.Wednesday" btn-checkbox>Wednesday</label>
                                        <label class="btn btn-default" ng-model="operationscheduletime.Thuresday" btn-checkbox>Thuresday</label>
                                        <label class="btn btn-default" ng-model="operationscheduletime.Friday" btn-checkbox>Friday</label>
                                        <label class="btn btn-default" ng-model="operationscheduletime.Saturday" btn-checkbox>Saturday</label>
                                        <label class="btn btn-default" ng-model="operationscheduletime.Sunday" btn-checkbox>Sunday</label>
                                    </div>


                                </div>
                                <div ng-show="operationscheduletime.State == 2">
                                    Opened:
                                    {{ operationscheduletime.Start }} - {{ operationscheduletime.End }}

                                    <select class="form-control" id="selectOpeningtimecode" ng-model="operationscheduletime.Timecode" disabled>
                                        <option value="1">General Opening Time</option>
                                        <option value="2">Time range for warm meals</option>
                                        <option value="3">Time range for pizza</option>
                                        <option value="4">Time range for snack's</option>
                                    </select>
                                    <div class="btn-group-horizontal">
                                        <label class="btn btn-default" ng-model="operationscheduletime.Monday" btn-checkbox>Monday</label>
                                        <label class="btn btn-default" ng-model="operationscheduletime.Tuesday" btn-checkbox>Tuesday</label>
                                        <label class="btn btn-default" ng-model="operationscheduletime.Wednesday" btn-checkbox>Wednesday</label>
                                        <label class="btn btn-default" ng-model="operationscheduletime.Thuresday" btn-checkbox>Thuresday</label>
                                        <label class="btn btn-default" ng-model="operationscheduletime.Friday" btn-checkbox>Friday</label>
                                        <label class="btn btn-default" ng-model="operationscheduletime.Saturday" btn-checkbox>Saturday</label>
                                        <label class="btn btn-default" ng-model="operationscheduletime.Sunday" btn-checkbox>Sunday</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <button class="btn btn-info" ng-click="cancelslidemodal()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="mySuedtirolTypeSelectorModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="canceltypeselectormodal()" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Select Type & Location</h4>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-sm-12">

                    <div ng-controller="TypeSelectController">
                        <h4>Type</h4>
                        <div class="form-group">
                            <label for="inputMainType" class="col-sm-4 control-label">Main Type</label>
                            <div class="col-sm-8">
                                <select class="form-control notextareamaxwitdth" ng-model="typeselector.Type" ng-change="changemaintype(typeselector.Type)">
                                    <option ng-repeat="option in maintypeslist" value="{{option.Key}}" ng-selected="option.Key == typeselector.Type">{{option.TypeNames[lang]}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputMainType" class="col-sm-4 control-label">Sub Type</label>
                            <div class="col-sm-8">
                                <select class="form-control notextareamaxwitdth" ng-model="typeselector.SubType" ng-change="changesubtype(typeselector.SubType)">
                                    <option ng-repeat="option in subtypeslist" value="{{option.Key}}" ng-selected="option.Key == typeselector.SubType">{{option.TypeNames[lang]}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputMainType" class="col-sm-4 control-label">Poi Type</label>
                            <div class="col-sm-8">
                                <select class="form-control notextareamaxwitdth" ng-model="typeselector.PoiType" @*ng-change="changepoitype(typeselector.PoiType)"*@>
                                    <option ng-repeat=" option in poitypeslist" value="{{option.Key}}" ng-selected="option.Key == typeselector.PoiType">
                                        {{option.TypeNames[lang]}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="blanklabel" class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <br />
                            </div>
                        </div>
                        <h4>District</h4>

                        <div class="form-group">
                            <label for="inputMainType" class="col-sm-4 control-label">Matched District (By GPS nearest District)</label>
                            <div class="col-sm-8">
                                <select class="form-control notextareamaxwitdth" ng-model="typeselector.MatchedDistrict" @*ng-change="changepoitype(typeselector.PoiType)"*@>
                                    <option ng-repeat=" option in districtslist | orderBy:'name'" value="{{option.id}}" ng-selected="option.id == typeselector.MatchedDistrict">
                                        {{option.name}} - {{ option.parent }}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="copytosmgpoi(activity)">Copy to ODH</button>
            <button class="btn btn-info" ng-click="canceltypeselectormodal()">Cancel</button>
        </div>
    </script>
</div>

@section Styles{
    <style type="text/css">
    </style>

}


@section Scripts {
    @*<script type="text/javascript" src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>*@

    @*<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>*@
    @*<script src="~/NgScripts/appfactory.js"></script>*@
    <script src="~/NgScripts/appconfig.js"></script>
    <script src="~/NgScripts/PoiController.js?version=20191119"></script>
    @*<script src="~/Scripts/angular-route.min.js"></script>
        <script src="~/Scripts/file-Upload/angular-file-upload.min.js"></script>*@
}
