
@section headerimgsect{
    <img class="img-responsive hidden-xs" src="~/img/noihome2.png" style="width:100%" />
}

@section jumbotronsect {

    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Open Data Hub <small>Tourism Data Browser .Net Core</small></h2>
            <h4>Explore South Tyrolean's Open Data</h4>
            <br />
            <h5>Use the databrowser to discover the data or use directly the swagger interface</h5>
            <h5>Data is collected through various Interfaces and updated on a regular basis</h5>
            @*<h5>Browse data offered from Open Data Hub Tourism Api.</h5>*@
        </div>
        @*<div class="col-sm-6 text-center">
            <h2>News <small></small></h2>
            <h5>06/08/19 - Events, Snow Measuringpoints and full Activities & Pois available as open data.</h5>
        </div>*@
    </div>
    <hr />
    <div class="row">

        <div class="col-sm-4">
            <div class="text-center">
                <a href="../swagger" target="_blank"><button type="button" class="btn btn-homesubicons btn-circle btn-xl"><i class="glyphicon glyphicon-calendar glyphicon-paperclip glyphicon-homesub"></i></button></a>
            </div>
            <h4 class="text-center homesubs"><a class="" href="https://api.tourism.testingmachine.eu" target="_blank">Open Data Hub Api - Swagger</a></h4>
            <h5 class="text-center">Swagger UI 3 with detailed Api Description.</h5>
        </div>

        <div class="col-sm-4">
            <div class="text-center">
                <a href="../api" target="_blank"><button type="button" class="btn btn-homesubicons btn-circle btn-xl"><i class="glyphicon glyphicon-calendar glyphicon-link glyphicon-homesub"></i></button></a>
            </div>
            <h4 class="text-center homesubs"><a class="" href="https://api.tourism.testingmachine.eu/api" target="_blank">Open Data Hub Api</a></h4>
            <h5 class="text-center">Open Data Hub Api with links to all endpoints (Quick start) .</h5>
        </div>

        <div class="col-sm-4">
            <div class="text-center">
                <a href="https://opendatahub.readthedocs.io/en/latest/index.html" target="_blank"><button type="button" class="btn btn-homesubicons btn-circle btn-xl"><i class="glyphicon glyphicon-inbox glyphicon-homesub"></i></button></a>
            </div>
            <h4 class="text-center homesubs"><a href="https://opendatahub.readthedocs.io/en/latest/index.html" target="_blank">Open Data Hub - Documentation</a></h4>
            <h5 class="text-center">Official Open Data Hub Project Documentation on Read the Docs.</h5>

        </div>

    </div>
}

<div class="row">
    <div class="col-sm-12 text-center">
               
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        @*<div class="col-sm-6">
                <br />
                <ul>
                    <li>Architecture: Asp.Net MVC</li>
                    <li>Database: PostgresSQL</li>
                    <li>Javascript Framework: AngularJS </li>
                    <li>Api: Asp.Net Web Api JSON</li>
                    <li>Authorization: Bearer Token</li>
                    <li>Api Documentation: Swagger</li>
                </ul>
                <a class="" href="../swagger" target="_blank"><h3>Open Data Hub Api - Swagger</h3></a>
            </div>*@
        <div class="col-sm-12">
            <br />

            <h4>
                User: <b>@Context.User.Identity.Name.ToString()</b> &nbsp;&nbsp;Role:

                @if (@ViewBag.isTV == true)
                {<b>TourismusVerein</b> }
                else if (@ViewBag.isTVB == true)
                { <b>TourismusVerband</b> }
                else
                { <b>User</b>}

            </h4>


        </div>

        <div class="col-sm-6">
            <table class="table table-bordered" style="padding:4px">

                <tr>
                    <td style="padding:4px"><b>Common</b></td>
                    <td style="padding:4px">Read / View / Create / Modify / Delete</td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalread == true || @ViewBag.commonread == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalvisible == true || @ViewBag.commonvisible == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalcreate == true || @ViewBag.commoncreate == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalmodify == true || @ViewBag.commonmodify == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globaldelete == true || @ViewBag.commondelete == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                </tr>
                <tr>
                    <td style="padding:4px"><b>Activities</b></td>
                    <td style="padding:4px">Read / View / Create / Modify / Delete</td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalread == true || @ViewBag.activityread == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalvisible == true || @ViewBag.activitiesvisible == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalcreate == true || @ViewBag.activitycreate == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalmodify == true || @ViewBag.activitymodify == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globaldelete == true || @ViewBag.activitydelete == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                </tr>
                <tr>
                    <td style="padding:4px"><b>Pois</b></td>
                    <td style="padding:4px">Read / View / Create / Modify / Delete</td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalread == true || @ViewBag.poiread == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalvisible == true || @ViewBag.poisvisible == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalcreate == true || @ViewBag.poicreate == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalmodify == true || @ViewBag.poimodify == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globaldelete == true || @ViewBag.poidelete == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                </tr>
                <tr>
                    <td style="padding:4px"><b>ODHPois</b></td>
                    <td style="padding:4px">Read / View / Create / Modify / Delete</td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalread == true || @ViewBag.ODHPoiRead == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalvisible == true || @ViewBag.odhpoisvisible == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalcreate == true || @ViewBag.ODHPoiCreate == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalmodify == true || @ViewBag.ODHPoiModify == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globaldelete == true || @ViewBag.ODHPoiDelete == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                </tr>
                <tr>
                    <td style="padding:4px"><b>Articles</b></td>
                    <td style="padding:4px">Read / View / Create / Modify / Delete</td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalread == true || @ViewBag.articleread == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalvisible == true || @ViewBag.articlesvisible == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalcreate == true || @ViewBag.articlecreate == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalmodify == true || @ViewBag.articlemodify == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globaldelete == true || @ViewBag.articledelete == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                </tr>

            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-bordered" style="padding:4px">

                <tr>
                    <td style="padding:4px"><b>Gastronomy</b></td>
                    <td style="padding:4px">Read / View / Create / Modify / Delete</td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalread == true || @ViewBag.gastroread == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalvisible == true || @ViewBag.gastronomiesvisible == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalcreate == true || @ViewBag.gastrocreate == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalmodify == true || @ViewBag.gastromodify == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globaldelete == true || @ViewBag.gastrodelete == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                </tr>


                <tr>
                    <td style="padding:4px"><b>Accommodation</b></td>
                    <td style="padding:4px">Read / View / Create / Modify / Delete</td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalread == true || @ViewBag.accoread == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalvisible == true || @ViewBag.accommodationsvisible == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalcreate == true || @ViewBag.accocreate == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalmodify == true || @ViewBag.accomodify == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globaldelete == true || @ViewBag.accodelete == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                </tr>


                <tr>
                    <td style="padding:4px"><b>Package</b></td>
                    <td style="padding:4px">Read / View / Create / Modify / Delete</td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalread == true || @ViewBag.packageread == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalvisible == true || @ViewBag.packagesvisible == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalcreate == true || @ViewBag.packagecreate == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalmodify == true || @ViewBag.packagemodify == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globaldelete == true || @ViewBag.packagedelete == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                </tr>


                <tr>
                    <td style="padding:4px"><b>Event</b></td>
                    <td style="padding:4px">Read / View / Create / Modify / Delete</td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalread == true || @ViewBag.eventread == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalvisible == true || @ViewBag.eventsvisible == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalcreate == true || @ViewBag.eventcreate == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalmodify == true || @ViewBag.eventmodify == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globaldelete == true || @ViewBag.eventdelete == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                </tr>
                <tr>
                    <td style="padding:4px"><b>Global</b></td>
                    <td style="padding:4px">Read / View / Create / Modify / Delete</td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalread == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalvisible == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalcreate == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globalmodify == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                    <td style="padding:4px">
                        @if (@ViewBag.globaldelete == true)
                        {<div class="glyphicon glyphicon-ok glyphicongreen"></div> }
                        else
                        { <div class="glyphicon glyphicon-remove glyphiconred"></div>}
                    </td>
                </tr>

            </table>
        </div>

    </div>
}
@if (!User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="text-center">
                <br />
                <h4>Open Data Notes</h4>
                <h6>                    
                    Only Images with CC0 Licenses are displayed.<br /><br />
                    Get more details with the Info Button on the various sites<br />                    
                </h6>
            </div>            
        </div>

        <div class="col-sm-4">
            <br />
            <ul>
                <li>@Html.ActionLink("All ODH Activities & Pois", "AllSmgPoiList", "GeoBank", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Events at NOI Techpark", "EventShortList", "GeoBank", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Accommodations", "AccommodationSimpleList", "ExternalDataSources", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Events", "EventList", "ExternalDataSources", new { area = "" }, null)</li>                
                <li>@Html.ActionLink("Activities DataSource LTS", "AllActivitiesList", "ExternalDataSources", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Pois DataSource LTS", "AllPoisList", "ExternalDataSources", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Gastronomies DataSource LTS", "GastronomyList", "ExternalDataSources", new { area = "" }, null)</li>
            </ul>
            <br />
        </div>
        <div class="col-sm-4">
            <br />
            <ul>
                <li>@Html.ActionLink("Weather Information", "WeatherList", "ExternalDataSources", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Snow Report", "SnowReportList", "ExternalDataSources", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Regions", "RegionList", "GeoBank", new { area = "" }, null)</li>
                <li>@Html.ActionLink("MetaRegions", "MetaRegionList", "GeoBank", new { area = "" }, null)</li>                
                <li>@Html.ActionLink("Tourismassociations", "TourismVereinList", "GeoBank", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Municipalities", "MunicipalityList", "GeoBank", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Districts", "DistrictList", "GeoBank", new { area = "" }, null)</li>                                
            </ul>
            <br />
        </div>
    </div>
}


@section Styles{
    <style type="text/css">
        .glyphiconred {
            color: black;
        }

        .glyphicongreen {
            color: #9ac52d;
        }
    </style>

}

@section Scripts{

    @*<script src="~/NgScripts/appfactory.js"></script>*@
    <script src="~/NgScripts/appconfig.js"></script>
    @*<script src="~/NgScripts/appme.js"></script>*@

}
