@section jumbotronsect {
    <h2>CC0 License Status (Open Data Hub)</h2>
    }


    <div class="row">

      <div class="col-sm-12">
          <h3>License Overview</h3>
      </div>

        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Total Data</th>
                        <th>Active Open Data</th>
                        <th>Data with CC0 Licenses</th>
                        <th>Total Images with CC0 Licenses</th>
                    </tr>
                </thead>

                <tr>
                    <td><b>Accommodations</b></td>
                    <td>
                        @ViewBag.AccoTotaldata
                    </td>
                    <td>
                        @ViewBag.AccoTotaldataopen
                    </td>
                    <td>
                        @ViewBag.AccoLicenses
                    </td>
                    <td>
                        @ViewBag.AccoImagesopenCount
                    </td>
                </tr>
                <tr>
                    <td><b>Gastronomies</b></td>
                    <td>
                        @ViewBag.GastroTotaldata
                    </td>
                    <td>
                        @ViewBag.GastroTotaldataopen
                    </td>
                    <td>
                        @ViewBag.GastroLicenses
                    </td>
                    <td>
                        @ViewBag.GastroImagesopenCount
                    </td>
                </tr>
                <tr>
                    <td><b>Events</b></td>
                    <td>
                        @ViewBag.EventTotaldata
                    </td>
                    <td>
                        @ViewBag.EventTotaldataopen
                    </td>
                    <td>
                        @ViewBag.EventLicenses
                    </td>
                    <td>
                        @ViewBag.EventImagesopenCount
                    </td>
                </tr>
                <tr>
                    <td><b>Poi</b></td>
                    <td>
                        @ViewBag.PoiTotaldata
                    </td>
                    <td>
                        @ViewBag.PoiTotaldataopen
                    </td>
                    <td>
                        @ViewBag.PoiLicenses
                    </td>
                    <td>
                        @ViewBag.PoiImagesopenCount
                    </td>
                </tr>
                <tr>
                    <td><b>Activity</b></td>
                    <td>
                        @ViewBag.ActivityTotaldata
                    </td>
                    <td>
                        @ViewBag.ActivityTotaldataopen
                    </td>
                    <td>
                        @ViewBag.ActivityLicenses
                    </td>
                    <td>
                        @ViewBag.ActivityImagesopenCount
                    </td>
                </tr>
                <tr>
                    <td><b>ODH Activity Poi</b></td>
                    <td>
                        @ViewBag.ODHActivityPoiTotaldata
                    </td>
                    <td>
                        @ViewBag.ODHActivityPoiTotaldataopen
                    </td>
                    <td>
                        @ViewBag.ODHActivityPoiLicenses
                    </td>
                    <td>
                        @ViewBag.ODHActivityPoiImagesopenCount
                    </td>
                </tr>
                <tr>
                    <td><b>Region</b></td>
                    <td>
                        @ViewBag.RegionTotaldata
                    </td>
                    <td>
                        @ViewBag.RegionTotaldataopen
                    </td>
                    <td>
                        @ViewBag.RegionLicenses
                    </td>
                    <td>
                        @ViewBag.RegionImagesopenCount
                    </td>
                </tr>
                <tr>
                    <td><b>Tourismassociations</b></td>
                    <td>
                        @ViewBag.TVTotaldata
                    </td>
                    <td>
                        @ViewBag.TVTotaldataopen
                    </td>
                    <td>
                        @ViewBag.TVLicenses
                    </td>
                    <td>
                        @ViewBag.TVImagesopenCount
                    </td>
                </tr>
                <tr>
                    <td><b>Skiareas</b></td>
                    <td>
                        @ViewBag.SkiAreaTotaldata
                    </td>
                    <td>
                        @ViewBag.SkiAreaTotaldataopen
                    </td>
                    <td>
                        @ViewBag.SkiAreaLicenses
                    </td>
                    <td>
                        @ViewBag.SkiAreaImagesopenCount
                    </td>
                </tr>

            </table>
        </div>
     
    </div>
       
   