
@{
    ViewBag.Title = "PackageList (Geobank)";
}
@section jumbotronsect {<h2>Package List (Open Data Hub active)</h2>
}
@section infomodaltext {
    <h2>Package Data</h2>
	<p>All data is syncronized daily from HGV MSS Interface. Only ODH active Packages are displayed.</p>
    <p>The property ODH active is set automatically to true if all package information is available.</p>
    <p>Each package is assigned to the correct accommodation</p>
    <p>A manual Update Operation can be performed (depending on current Rights).</p>
}

<div class="col-sm-12" ng-app="hgvpackage" ng-controller="hgvpackageListController" ng-init="init('@ViewBag.predefinedlocationfilter','@ViewBag.predefinedlocationfiltertyp','true')">

    <div class="splash" ng-show="isloading">
        <h2>
            Loading
        </h2>
        <span>
            <i class="fa fa-spinner fa-5x fa-spin active"></i>
        </span>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-inline">
                @*<div class="pull-left">
                        <a ng-click="edithgvpackage('new')" class="btn btn-small btn-primary">New</a>
                    </div>*@
                <div class="pull-right">
                    <div class="btn-group">
                        @*<button type="button" class="btn btn-default active" ng-click="setlang('de')">de</button>
                            <button type="button" class="btn btn-default" ng-click="setlang('it')">it</button>
                            <button type="button" class="btn btn-default" ng-click="setlang('en')">en</button>*@

                        <label class="btn btn-default" ng-model="lang" btn-radio="'de'">de</label>
                        <label class="btn btn-default" ng-model="lang" btn-radio="'it'">it</label>
                        <label class="btn btn-default" ng-model="lang" btn-radio="'en'">en</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br />
            <div class="form-inline">
                <div class="pull-right">
                    <span class="btn btn-default"> Elements: {{ totalcount }} </span>
                    <input type="button" id="prevpage" ng-click="changePage(-1,true)" class="btn btn-info" value="prev" ng-disabled="page == 1" />
                    &nbsp;{{ page }}&nbsp;/&nbsp;{{ totalpages }}&nbsp;
                    <input type="button" id="nextpage" ng-click="changePage(+1,true)" class="btn btn-info" value="next" ng-disabled="page == totalpages || totalpages == 0" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <br />
        <div class="col-sm-3 col-md-3 col-xs-12 table-bordered filtertable">
            <div class="form-inline">
                <br />
                <div class="form-group col-sm-12 col-md-12">
                    <input type="button" id="filterbutton" ng-click="applyFilter(1)" class="btn btn-info" value="Filter" />
                    <input type="button" id="clearfilterbutton" ng-click="clearFilter()" class="btn btn-default" value="Clear" />
                </div>
                <div class="form-group col-sm-12 col-md-12" ng-controller="PackageNameTypeAheadController">
                    <h6>Name</h6>
                    <typeaheadpackage items="items" templateurl="PackageNameTemplate" prompt="Name" title="name" subtitle="typ" model="$parent.SelectedPackageName" idmodel="$parent.SelectedPackageId" on-select="onItemSelected()" />
                </div>
                <div class="form-group col-sm-12 col-md-12" ng-controller="LocationTypeAheadController">
                    <h6>Location</h6>
                    <typeaheadloc items="locitems" templateurl="LocationNameTemplate" prompt="Location" title="name" subtitle="typ" model="$parent.SelectedLocationName" submodel="$parent.SelectedLocationTyp" idmodel="$parent.SelectedLocationId" on-select="onItemSelected()" />
                </div>
                <div class="form-group col-sm-12" ng-controller="HotelnameTypeAheadController">
                    <h6>Hotelname</h6>
                    <typeaheadhotel items="hotelitems" templateurl="AccoNameTemplate" prompt="Hotelname" title="name" model="$parent.SelectedAccoName" idmodel="$parent.SelectedAccoId" on-select="onItemSelected()" />
                </div>
                <div class="form-group col-sm-12" ng-controller="SmgTagNameTypeAheadController">
                    <h6>ODH Tag</h6>
                    <typeaheadsmgtag items="items" templateurl="SmgTagNameTemplate" prompt="Name" title="name" model="$parent.SelectedSmgTagName" idmodel="$parent.SelectedSmgTagId" on-select="onItemSelected()" />
                </div>

                @*<div class="form-group col-sm-12">
                    <h6>active on source</h6>
                    <select class="form-control" id="selectTyp" ng-model="active">
                        <option value="null">all</option>
                        <option value="true">active</option>
                        <option value="false">not active</option>
                    </select>
                </div>

                <div class="form-group col-sm-12">
                    <h6>SMG Active</h6>
                    <select class="form-control" id="selectTyp" ng-model="smgactive">
                        <option value="null">all</option>
                        <option value="true">active</option>
                        <option value="false">not active</option>
                    </select>
                </div>*@

                <div class="form-group col-sm-12">
                    <h6>Theme</h6>
                    <div class="btn-group-vertical">
                        <label class="btn btn-default" ng-model="checkThemeModel.27" style="white-space: normal;" btn-checkbox>Südtirol Balance</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.1" style="white-space: normal;" btn-checkbox>Wandern</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.2" style="white-space: normal;" btn-checkbox>Rad & Mountainbike</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.3" style="white-space: normal;" btn-checkbox>Familie</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.4" style="white-space: normal;" btn-checkbox>Wellness / Gesundheit</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.5" style="white-space: normal;" btn-checkbox>Essen und Trinken</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.6" style="white-space: normal;" btn-checkbox>Golf</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.7" style="white-space: normal;" btn-checkbox>Kultur</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.8" style="white-space: normal;" btn-checkbox>Motorsport</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.9" style="white-space: normal;" btn-checkbox>Ohne Auto im Urlaub</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.10" style="white-space: normal;" btn-checkbox>Ski & Snowboard</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.11" style="white-space: normal;" btn-checkbox>Sommer Aktiv</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.12" style="white-space: normal;" btn-checkbox>Veranstaltungen</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.13" style="white-space: normal;" btn-checkbox>Weihnachtsmärkte</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.14" style="white-space: normal;" btn-checkbox>Winter Aktiv</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.15" style="white-space: normal;" btn-checkbox>Vitalpina</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.16" style="white-space: normal;" btn-checkbox>Vitalpina: Durchatmen</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.17" style="white-space: normal;" btn-checkbox>Bikehotels: E-Bike</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.18" style="white-space: normal;" btn-checkbox>Bikehotels: Freeride</label>
                        @*<label class="btn btn-default" ng-model="checkThemeModel.nineteen" btn-checkbox></label>*@
                        <label class="btn btn-default" ng-model="checkThemeModel.19" style="white-space: normal;" btn-checkbox>Bikehotels: Mountainbike</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.20" style="white-space: normal;" btn-checkbox>Bikehotels: Radwandern</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.21" style="white-space: normal;" btn-checkbox>Bikehotels: Rennrad</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.22" style="white-space: normal;" btn-checkbox>Familienhotels</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.23" style="white-space: normal;" btn-checkbox>Familienhotels: Naturdetektiv</label>
                        @*<label class="btn btn-default" ng-model="checkThemeModel.twentyfive" btn-checkbox>Text</label>*@
                        <label class="btn btn-default" ng-model="checkThemeModel.24" style="white-space: normal;" btn-checkbox>Familienhotel</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.25" style="white-space: normal;" btn-checkbox>Naturdetektiv Sommer</label>
                        <label class="btn btn-default" ng-model="checkThemeModel.26" style="white-space: normal;" btn-checkbox>Naturdetektiv Winter</label>
                    </div>
                    <br />
                    <br />
                </div>
                <div class="col-sm-12 col-xs-6">
                    <h6>Shortstay</h6>
                    <input type="checkbox" class="checkbox" ng-model="shortstay" />
                </div>
                <div class="col-sm-12 col-xs-6">
                    <h6>Longstay</h6>
                    <input type="checkbox" class="checkbox" ng-model="longstay" />
                </div>

                <div class="col-sm-12">
                    <br />
                    <br />
                </div>
            </div>
        </div>

        <div class="col-sm-9 col-xs-12 table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th style="width:160px">MainImage</th>
                        <th style="min-width: 80px;">Title</th>
                        @*<th style="min-width: 80px;">Theme</th>*@
                        <th style="min-width: 80px;">from/to</th>
                        <th style="min-width: 80px;">Location</th>
                        <th style="min-width: 80px;">Price from</th>
                        <th style="min-width: 80px;">Smg Tag</th>
                        <th style="min-width: 80px;">HGV Active</th>
                        <th style="min-width: 80px;">ODH active</th>
                        <th style="width:20px;"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="hgvpackage in hgvpackages | filter:query">
                        <td>
                            <div style="max-width:150px;min-height:75px">
                                <img class="img-thumbnail img-responsive" @*style="max-height:150px;max-width:150px"*@ ng-src="{{  hgvpackage.ImageGallery[0] != NULL && hgvpackage.ImageGallery[0].ImageUrl + '&w=150&h=150' || '../img/noimage.png' }}" @*ng-hide="hgvpackage.ImageGallery[0] == NULL"*@ title="{{ hgvpackage.ImageGallery[0].ImageDesc['de']}}" ng-click="showInfoModal(hgvpackage)" />
                            </div>
                        </td>
                        @*<td>{{ hgvpackage.Id }}</td>*@
                        <td>{{ hgvpackage.PackageDetail[lang].Title }}</td>

                        @*<td>
                                <ul class="list-group" style="margin:0px;">
                                    <li class="list-group-item" style="margin:0px;padding:5px 5px" ng-repeat="theme in hgvpackage.PackageThemeList">{{ theme }}</li>
                                </ul>
                            </td>*@
                        <td>
                            {{ hgvpackage.ValidStart | moment:'DD/MM/YYYY' }}<br />
                            {{ hgvpackage.ValidStop | moment:'DD/MM/YYYY' }}
                        </td>
                        <td>
                            {{ hgvpackage.LocationInfo.RegionInfo.Name[lang] }} / {{ hgvpackage.LocationInfo.TvInfo.Name[lang] }}
                        </td>
                        <td>{{ hgvpackage.ChannelInfo['hgv'] }} €</td>
                        <td><div ng-repeat="smgtag in hgvpackage.SmgTags">{{ smgtag }}</div></td>
                        <td>
                            <div class="glyphicon glyphicon-ok" ng-show="hgvpackage.Active"></div>
                            <div class="glyphicon glyphicon-remove" ng-show="hgvpackage.Active == false"></div>
                            
                        </td>
                        <td>
                         
                            <div class="glyphicon glyphicon-ok" ng-show="hgvpackage.SmgActive" style="color:green"></div>
                            <div class="glyphicon glyphicon-remove" ng-show="hgvpackage.SmgActive == false" style="color:red"></div>
                        </td>
                        <td>
                            @if (@ViewBag.globalmodify == true || @ViewBag.packagemodify == true || @ViewBag.globaldetail == true)
                            {
                                <a ng-click="edithgvpackage(hgvpackage)" class="btn btn-responsive btn-info" style="width:70px;">edit</a>
                            }
                            @if (@ViewBag.globaldelete == true || @ViewBag.packagedelete == true)
                            {
                                <a ng-click="deletehgvpackage(hgvpackage.Id)" class="btn btn-responsive btn-primary" @*ng-disabled=""*@ style="width:70px;">delete</a>
                            }
                            @if (@ViewBag.globalupdate == true || @ViewBag.packageupdate == true)
                            {
                                <a ng-click="updatepackage(hgvpackage.OfferId)" class="btn btn-responsive btn-warning" style="width:70px;">Update</a>
                            }
                            <a ng-click="showInfoModal(hgvpackage)" class="btn btn-responsive btn-success" style="width:70px;">Detail</a>
                            <a ng-click="showhotelinfo(hgvpackage.HotelHgvId)" class="btn btn-responsive btn-info" style="width:70px;">Hotel</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-inline">
                <div class="pull-right">
                    <span class="btn btn-default"> Elements: {{ totalcount }} </span>
                    <input type="button" id="prevpage" ng-click="changePage(-1,true)" class="btn btn-info" value="prev" ng-disabled="page == 1" />
                    &nbsp;{{ page }}&nbsp;/&nbsp;{{ totalpages }}&nbsp;
                    <input type="button" id="nextpage" ng-click="changePage(+1,true)" class="btn btn-info" value="next" ng-disabled="page == totalpages || totalpages == 0" />
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="myPackageModal.html">
        <form name="hgvpackageform">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Package Details</h4>
            </div>
            <div class="modal-body">
                <tabset>
                    <tab heading="General">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputId" class="col-sm-4 control-label">Id</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputId" placeholder="Id" ng-model="hgvpackage.Id" ng-show="newhgvpackage" required>
                                            <input type="text" class="form-control" id="inputId" placeholder="Id" ng-model="hgvpackage.Id" ng-show="!newhgvpackage" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputShortName" class="col-sm-4 control-label">Shortname</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputShortName" placeholder="Shortname" ng-model="hgvpackage.Shortname" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputHotelHgvId" class="col-sm-4 control-label">Hotel HGV Id</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputHotelHgvId" placeholder="HotelHgvId" ng-model="hgvpackage.HotelHgvId" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputHotelId" class="col-sm-4 control-label">Hotel LTS Id</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputHotelId" placeholder="HotelId" ng-model="hgvpackage.HotelId" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDistrictId" class="col-sm-4 control-label">District Id</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputDistrictId" placeholder="DistrictId" ng-model="hgvpackage.DistrictId" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-4 control-label">Last Changed</label>
                                        <div class="col-sm-8">
                                            <div class="form-control">{{ hgvpackage.LastChange | moment:'DD-MM-YYYY HH:mm' }}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputActive" class="col-sm-4 control-label">HGV Active</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" class="form-control" id="inputActive" placeholder="Id" ng-model="hgvpackage.Active" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSmgActive" class="col-sm-4 control-label">ODH active</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" class="form-control" id="inputSmgActive" placeholder="Id" ng-model="hgvpackage.SmgActive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputValidFrom" class="col-sm-4 control-label">Valid From</label>
                                        @*<div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputValidFrom" placeholder="ValidStart" ng-model="hgvpackage.ValidStart" readonly>
                                            </div>*@

                                        @*<div class="col-sm-8" ng-controller="DatepickerCtrl">
                                            <input type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-model="hgvpackage.ValidStart" readonly>
                                        </div>*@

                                        <div class="col-sm-8">
                                            <div class="form-control">
                                                {{ hgvpackage.ValidStart | moment:'DD-MM-YYYY' }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="inputValidTo" class="col-sm-4 control-label">Valid To</label>
                                        @*<div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputValidTo" placeholder="ValidStop" ng-model="hgvpackage.ValidStop" readonly>
                                            </div>*@
                                        @*<div class="col-sm-8" ng-controller="DatepickerCtrl">
                                            <input type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-model="hgvpackage.ValidStop" readonly>
                                        </div>*@

                                        <div class="col-sm-8">
                                            <div class="form-control">
                                                {{ hgvpackage.ValidStop | moment:'DD-MM-YYYY' }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="inputOfferId" class="col-sm-4 control-label">Offer Id</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputOfferId" placeholder="OfferId" ng-model="hgvpackage.OfferId" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputSpecialtyp" class="col-sm-4 control-label">Specialtype</label>
                                        <div class="col-sm-8">
                                            @*<input type="text" class="form-control" id="inputSpecialtyp" placeholder="Specialtyp" ng-model="hgvpackage.Specialtyp" readonly>*@
                                            <select class="form-control" id="selectSpecialType" ng-model="hgvpackage.Specialtyp" disabled>
                                                <option value="1">Nur Pakete</option>
                                                <option value="2">Nur Specials</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputOffertyp" class="col-sm-4 control-label">Offertype</label>
                                        <div class="col-sm-8">
                                            @*<input type="text" class="form-control" id="inputOffertyp" placeholder="Offertyp" ng-model="hgvpackage.Offertyp" readonly>*@
                                            <select class="form-control" id="selectOfferType" ng-model="hgvpackage.Offertyp" disabled>
                                                <option value="10">Preisliste (Standard Preis)</option>
                                                <option value="20">Personenalter bezogen</option>
                                                <option value="21">Personenanzahl bezogen</option>
                                                <option value="22">Aufenthalt bezogen</option>
                                                <option value="23">Buchungsdatum bezogen</option>
                                                <option value="24">Wochentag bezogen</option>
                                                <option value="25">Ohne Bezug</option>
                                                <option value="50">Personenalter bezogenes Special</option>
                                                <option value="51">Personenanzahl bezogenes Special</option>
                                                <option value="52">Aufenthalt bezogenes Special</option>
                                                <option value="53">Buchungsdatum bezogenes Special</option>
                                                <option value="54">Wochentag bezogenes Special</option>
                                                <option value="55">Special ohne Bezug</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputShortStay" class="col-sm-4 control-label">ShortStay</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" class="form-control" id="inputShortStay" placeholder="ShortStay" ng-model="hgvpackage.ShortStay">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputLongStay" class="col-sm-4 control-label">LongStay</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" class="form-control" id="inputLongStay" placeholder="LongStay" ng-model="hgvpackage.LongStay">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Detail">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputTitle" class="col-sm-4 control-label">Title</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="hgvpackage.PackageDetail[lang].Title" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDesc" class="col-sm-4 control-label">Desc</label>
                                        <div class="col-sm-8">
                                            <textarea rows="8" class="form-control" id="inputDesc" placeholder="Desc" ng-model="hgvpackage.PackageDetail[lang].Desc" readonly></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-repeat="service in hgvpackage.Services">
                                        <label for="inputService" class="col-sm-4 control-label">Service</label>
                                        <div class="col-sm-8">
                                            @*<input type="text" class="form-control" id="inputService" placeholder="Service" ng-model="service" readonly>*@

                                            <select class="form-control" id="selectBoard" ng-model="service" disabled>
                                                <option value="1">Ohne Verpflegung</option>
                                                <option value="2">Mit Frühstück</option>
                                                <option value="3">Halbpension</option>
                                                <option value="4">Vollpension</option>
                                                <option value="5">All-inclusive</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputfromPrice" class="col-sm-4 control-label">From Price</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputfromPrice" placeholder="From Price" ng-model="hgvpackage.ChannelInfo['hgv']" readonly>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputDaysArrival" class="col-sm-4 control-label">DaysArrival</label>
                                        <div class="col-sm-8">
                                            @*<input type="text" class="form-control" id="inputDaysArrival" placeholder="DaysArrival" ng-model="hgvpackage.DaysArrival" readonly>*@

                                            <select class="form-control" id="selectDaysArrival" ng-model="hgvpackage.DaysArrival" disabled>
                                                <option value="1">Mo</option>
                                                <option value="2">Di</option>
                                                <option value="4">Mi</option>
                                                <option value="8">Do</option>
                                                <option value="16">Fr</option>
                                                <option value="32">Sa</option>
                                                <option value="64">So</option>

                                                <option value="127">Mo - So</option>
                                                <option value="120">Do - So</option>
                                                <option value="113">Fr - Mo</option>
                                                <option value="112">Fr - So</option>
                                                <option value="104">Do, Sa, So</option>
                                                <option value="96">Sa - So</option>
                                                <option value="79">So - Do</option>
                                                <option value="78">So, Di, Mi, Do</option>
                                                <option value="76">So, Mi, Do</option>
                                                <option value="71">So - Mi</option>
                                                <option value="67">So - Di</option>
                                                <option value="65">So - Mo</option>
                                                <option value="63">Mo - Sa</option>
                                                <option value="56">Do - Sa</option>
                                                <option value="48">Fr - Sa</option>
                                                <option value="31">Mo - Fr</option>
                                                <option value="24">Do - Fr</option>
                                                <option value="14">Di - Do</option>
                                                @*<option value=""></option>*@


                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDaysDeparture" class="col-sm-4 control-label">DaysDeparture</label>
                                        <div class="col-sm-8">
                                            @*<input type="text" class="form-control" id="inputDaysDeparture" placeholder="DaysDeparture" ng-model="hgvpackage.DaysDeparture" readonly>*@

                                            <select class="form-control" id="selectDaysDeparture" ng-model="hgvpackage.DaysDeparture" disabled>
                                                <option value="1">Mo</option>
                                                <option value="2">Di</option>
                                                <option value="4">Mi</option>
                                                <option value="8">Do</option>
                                                <option value="16">Fr</option>
                                                <option value="32">Sa</option>
                                                <option value="64">So</option>

                                                <option value="127">Mo - So</option>
                                                <option value="120">Do - So</option>
                                                <option value="113">Fr - Mo</option>
                                                <option value="112">Fr - So</option>
                                                <option value="104">Do, Sa, So</option>
                                                <option value="96">Sa - So</option>
                                                <option value="79">So - Do</option>
                                                <option value="78">So, Di, Mi, Do</option>
                                                <option value="76">So, Mi, Do</option>
                                                <option value="71">So - Mi</option>
                                                <option value="67">So - Di</option>
                                                <option value="65">So - Mo</option>
                                                <option value="63">Mo - Sa</option>
                                                <option value="56">Do - Sa</option>
                                                <option value="48">Fr - Sa</option>
                                                <option value="31">Mo - Fr</option>
                                                <option value="24">Do - Fr</option>
                                                <option value="14">Di - Do</option>
                                                @*<option value=""></option>*@


                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDaysDurMin" class="col-sm-4 control-label">DaysDurMin</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputDaysDurMin" placeholder="DaysDurMin" ng-model="hgvpackage.DaysDurMin" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDaysDurMax" class="col-sm-4 control-label">DaysDurMax</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputDaysDurMax" placeholder="DaysDurMax" ng-model="hgvpackage.DaysDurMax" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDaysArrivalMin" class="col-sm-4 control-label">DaysArrivalMin</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputDaysArrivalMin" placeholder="DaysArrivalMin" ng-model="hgvpackage.DaysArrivalMin" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDaysArrivalMax" class="col-sm-4 control-label">DaysArrivalMax</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputDaysArrivalMax" placeholder="DaysArrivalMax" ng-model="hgvpackage.DaysArrivalMax" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputChildrenMin" class="col-sm-4 control-label">ChildrenMin</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputChildrenMin" placeholder="ChildrenMin" ng-model="hgvpackage.ChildrenMin" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Inclusive">
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal" ng-repeat="(key,value) in hgvpackage.Inclusive">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="inputInclusiveId" class="col-sm-4 control-label">Id</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputInclusiveId" placeholder="InclusiveId" ng-model="key" readonly><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="inputPriceTyp" class="col-sm-4 control-label">PriceTyp</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="selectInclusivePricetype" ng-model="value.PriceTyp" disabled>
                                                    <option value="10">Preisliste (Standard Preis)</option>
                                                    <option value="20">Personenalter bezogen</option>
                                                    <option value="21">Personenanzahl bezogen</option>
                                                    <option value="22">Aufenthalt bezogen</option>
                                                    <option value="23">Buchungsdatum bezogen</option>
                                                    <option value="24">Wochentag bezogen</option>
                                                    <option value="25">Ohne Bezug</option>
                                                    <option value="50">Personenalter bezogenes Special</option>
                                                    <option value="51">Personenanzahl bezogenes Special</option>
                                                    <option value="52">Aufenthalt bezogenes Special</option>
                                                    <option value="53">Buchungsdatum bezogenes Special</option>
                                                    <option value="54">Wochentag bezogenes Special</option>
                                                    <option value="55">Special ohne Bezug</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputInclusiveDetail" class="col-sm-4 control-label">InclusiveDetail</label>
                                            <div class="col-sm-8">
                                                <textarea rows="2" class="form-control" id="inputInclusiveDetail" placeholder="InclusiveDetail" ng-model="value.PackageDetail[lang].Title" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Themes">
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal" ng-repeat="packagetheme in hgvpackage.PackageThemeDetail">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputThemeId" class="col-sm-4 control-label">ThemeId</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputThemeId" placeholder="ThemeId" ng-model="packagetheme.ThemeId" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputThemeDetail" class="col-sm-4 control-label">ThemeDetail</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="inputThemeDetail" placeholder="ThemeDetail" ng-model="packagetheme.ThemeDetail[lang].Title" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Season">
                        <br />
                        <div class="row">
                            <div class="col-sm-12" ng-repeat="season in hgvpackage.Season">
                                <div class="form-horizontal">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputSeasonStart" class="col-sm-4 control-label">Start</label>
                                            @*<div class="col-sm-8">
                                                    <input type="text" class="form-control" id="inputSeasonStart" placeholder="Start" ng-model="season.Start" readonly>
                                                </div>*@
                                            @*<div class="col-sm-8" ng-controller="DatepickerCtrl">
                                                <input type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-model="season.Start" readonly>
                                            </div>*@
                                            <div class="col-sm-8">
                                                <div class="form-control">
                                                    {{ season.Start | moment:'DD-MM-YYYY' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="inputSeasonEnd" class="col-sm-4 control-label">End</label>
                                            @*<div class="col-sm-8">
                                                    <input type="text" class="form-control" id="inputSeasonEnd" placeholder="End" ng-model="season.End" readonly>
                                                </div>*@
                                            @*<div class="col-sm-8" ng-controller="DatepickerCtrl">
                                                <input type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-model="season.End" readonly>
                                            </div>*@
                                            <div class="col-sm-8">
                                                <div class="form-control">
                                                    {{ season.End | moment:'DD-MM-YYYY' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Images">
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputBild" class="col-sm-4 control-label">Bilder HGV</label>
                                        <div class="col-sm-8">
                                            <input type="file" id="inputBild" class="btn btn-default btn-file" ng-file-select="onFileSelect($files)" multiple>
                                        </div>
                                        <br />
                                        <br />
                                        <div ng-repeat="smgbild in hgvpackage.ImageGallery">
                                            <div class="col-sm-4" style="text-align:right">
                                                <img class="img-rounded" ng-src="{{ smgbild.ImageUrl }}" style="max-height:85px;" />
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <span class="input-group-btn" style="vertical-align:top;">
                                                        <button type="button" class="btn btn-default" ng-click="deletebild(smgbild.BildName)"><i class="glyphicon glyphicon-minus"></i></button>
                                                    </span>
                                                    <input type="text" class="form-control" id="inputBildTitel" placeholder="BildTitel" ng-model="smgbild.ImageName">
                                                    <textarea cols="3" class="form-control" id="inputBildBeschreibung" placeholder="BildBeschreibung" ng-model="smgbild.ImageDesc[lang]"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Location">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputRegion" class="col-sm-4 control-label">Region / TVB</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="inputRegion" class="form-control" placeholder="Region" ng-model="hgvpackage.LocationInfo.RegionInfo.Name[lang]" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputTourismorganization" class="col-sm-4 control-label">Tourismorganization</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="inputTourismorganization" class="form-control" placeholder="Tourismorganization" ng-model="hgvpackage.LocationInfo.TvInfo.Name[lang]" disabled>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputMunicipality" class="col-sm-4 control-label">Municipality</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="inputMunicipality" class="form-control" placeholder="Municipality" ng-model="hgvpackage.LocationInfo.MunicipalityInfo.Name[lang]" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDistrict" class="col-sm-4 control-label">District</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="inputDistrict" class="form-control" placeholder="District" ng-model="hgvpackage.LocationInfo.DistrictInfo.Name[lang]" disabled>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="ODH Tags">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <label class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8 input-group">
                                        <div ng-controller="SmgTagNameModalTypeAheadController">
                                            <typeaheadsmgtag items="items" templateurl="SmgTagNameTemplate" prompt="Name" title="name" model="$parent.smgtagname" idmodel="$parent.smgtagid" on-select="onItemSelected()" />
                                        </div>
                                        <span class="input-group-btn" style="vertical-align:top">
                                            <button type="button" class="btn btn-default" value="+" ng-click="addtag(smgtagid)"><i class="glyphicon glyphicon-plus"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="input-group" ng-repeat="tag in hgvpackage.SmgTags">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="deletetag(tag)"><i class="glyphicon glyphicon-minus"></i></button>
                                        </span>
                                        <input type="text" class="form-control" id="inputTagsingle" placeholder="Tag" ng-model="tag" readonly>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="addhgvpackage(hgvpackage,hgvpackageform.$valid)" ng-show="newhgvpackage">Create</button>
                <button class="btn btn-primary" ng-click="updatehgvpackage(hgvpackage,hgvpackageform.$valid)" ng-show="!newhgvpackage">Save</button>
                <button class="btn btn-info" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="myPackageInfoModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancelslidemodal()" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Package Info</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <carousel interval="myInterval">
                            <slide data-ng-repeat="slide in slides" active="slide.active">
                                <img data-ng-src="{{slide.ImageUrl + '&h=320'}}" style="margin:auto;max-width:800px" class="img-rounded">
                                <div class="carousel-caption">
                                    <h5>{{slide.ImageTitle[lang]}}</h5>
                                    <small>{{slide.ImageDesc[lang]}}</small>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="form-group">
                        <br />
                        <h3>{{ hgvpackage.PackageDetail[lang].Title }}</h3>
                        <a ng-href="{{ hgvpackage.HgvLink}}" target="_blank">Booking Südtirol</a>
                    <p ng-bind-html="hgvpackage.PackageDetail[lang].Desc"></p>

                    <br />

                    <h4>Inclusive</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,value) in hgvpackage.Inclusive">

                                <td>{{ value.PackageDetail[lang].Title }}</td>
                                <td>
                                    <p ng-bind-html="value.PackageDetail[lang].Desc"></p>
                                </td>
                                <td>
                                    <carousel interval="myInterval">
                                        <slide data-ng-repeat="inclusivelslide in value.ImageGallery" active="inclusivelslide.active">
                                            <img data-ng-src="{{inclusivelslide.ImageUrl}}" style="margin:auto;max-width:200px" class="img-rounded">
                                            <div class="carousel-caption">
                                                <h5>{{inclusivelslide.ImageTitle[lang]}}</h5>
                                                <small>{{inclusivelslide.ImageDesc[lang]}}</small>
                                            </div>
                                        </slide>
                                    </carousel>
                                </td>
                            </tr>
                        </tbody>


                    </table>

                    <h4>Themes</h4>
                    <table class="table table-striped">
                        <tr ng-repeat="packagetheme in hgvpackage.PackageThemeDetail">
                            <td>{{ packagetheme.ThemeDetail[lang].Title }}</td>
                        </tr>
                    </table>

                    <h4>Season</h4>
                    <table class="table table-striped">
                        <tr ng-show="hgvpackage.Season.Start != null">
                            <td>From:</td>
                            <td>{{ hgvpackage.Season.Start | moment:'DD/MM/YYYY' }}</td>
                        </tr>
                        <tr ng-show="hgvpackage.Season.End != null">
                            <td>To:</td>
                            <td>{{ hgvpackage.Season.End | moment:'DD/MM/YYYY' }}</td>
                        </tr>

                        <tr>
                            <td>Available from:</td>
                            <td>{{ hgvpackage.ValidStart | moment:'DD/MM/YYYY' }}</td>
                        </tr>
                        <tr>
                            <td>Available To:</td>
                            <td>{{ hgvpackage.ValidStop | moment:'DD/MM/YYYY' }}</td>
                        </tr>

                    </table>

                </div>
            </div>

        </div>


        <div class="modal-footer">
            <button class="btn btn-info" ng-click="cancelslidemodal()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="myAccommodationInfoModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancelslidemodal()" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Accommodation Info</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <carousel interval="myInterval">
                            <slide data-ng-repeat="accoslide in accommodation.ImageGallery" active="accoslide.active">
                                <img data-ng-src="{{accoslide.ImageUrl + '&H=320'}}" style="margin:auto;max-width:420px" class="img-rounded">
                                <div class="carousel-caption">
                                    <h4>{{accoslide.ImageTitle[lang]}}</h4>
                                    <p>{{accoslide.ImageDesc[lang]}}</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div style="max-width:420px;height:320px">
                        <leaflet lf-center="leafletcoords" max-width="420px" height="320px"></leaflet>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <br />
                    @*<p>{{ accommodation.Latitude }} hallo</p>*@
                    <h2>{{ accommodation.AccoDetail[lang].Name }}</h2>
                    <h4>{{ accommodation.LocationInfo.TvInfo.Name[lang] }} - {{ accommodation.LocationInfo.RegionInfo.Name[lang] }}</h4>

                    <p ng-show="accommodation.AccoDetail[lang].NameAddition != ''">
                        <strong>Ansprechpartner</strong><br />
                        {{ accommodation.AccoDetail[lang].NameAddition }}
                    </p>
                    @*<p ng-show="accommodation.AccoDetail[lang].Shortdesc != ''">
                            <strong>Kurztext</strong><br />
                            {{ accommodation.AccoDetail[lang].Shortdesc | xmlTOlf }}
                        </p>*@
                    <div ng-show="accommodation.AccoDetail[lang].Shortdesc != ''">
                        <strong>Kurztext html</strong><br />
                        <p ng-bind-html="accommodation.AccoDetail[lang].Shortdesc"></p>
                    </div>

                    @*<p ng-show="accommodation.AccoDetail[lang].Longdesc != ''">
                            <strong>Langtext</strong><br />
                            {{ accommodation.AccoDetail['de'].Longdesc | xmlTOlf }}
                        </p>*@

                    <div ng-show="accommodation.AccoDetail[lang].Longdesc != ''">
                        <strong>Langtext html</strong><br />
                        <p ng-bind-html="accommodation.AccoDetail[lang].Longdesc"></p>
                    </div>

                    <p ng-show="activity.AccoDetail[lang].City != ''">
                        <strong>Zusatztext</strong><br />
                        {{ accommodation.AccoDetail['de'].City }}
                    </p>
                </div>
            </div>

            <div class="row" ng-controller="RoomDetailController">

                <div class="splash" ng-show="isAccoDetailloading">
                    <h2>
                        Loading
                    </h2>
                    <span>
                        <i class="fa fa-spinner fa-5x fa-spin active"></i>
                    </span>
                </div>

                <div class="col-sm-12">

                    <h4>Room Infos</h4>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Zimmername</th>
                                <th>Description</th>
                                <th style="min-width:20%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="accoroom in accommodationrooms">
                                <td>
                                    {{ accoroom.AccoRoomDetail[lang].Name }} <br />
                                    {{ accoroom.Roomtype }}
                                </td>
                                <td>
                                    <p ng-bind-html="accoroom.AccoRoomDetail[lang].Shortdesc"></p><br />
                                    @*<p ng-bind-html="accoroom.AccoRoomDetail[lang].Longdesc"></p>*@
                                </td>
                                <td>
                                    <carousel interval="myInterval">
                                        <slide data-ng-repeat="roomslide in accoroom.ImageGallery" active="roomslide.active">
                                            <img data-ng-src="{{roomslide.ImageUrl + '&H=150'}}" style="margin:auto;max-width:150px" class="img-rounded">
                                            <div class="carousel-caption">
                                                <h4>{{roomslide.ImageTitle[lang]}}</h4>
                                                <p>{{roomslide.ImageDesc[lang]}}</p>
                                            </div>
                                        </slide>
                                    </carousel>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-12" ng-show="activity.OperationscheduleName != null">
                    <h4>Öffnungszeiten</h4>
                    <p>{{ accommodation.OperationscheduleName }}</p>
                    <p>{{ accommodation.Start }} - {{ gastronomy.Stop }}</p>
                    @*<ul>
                            <li ng-repeat=""></li>
                        </ul>*@
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-info" ng-click="cancelslidemodal()">Cancel</button>
        </div>
    </script>
</div>

@section Styles{
    <style type="text/css">              
        .pull-bottom {
            display: inline-block;
            vertical-align: bottom;
            float: none;
        }
    </style>

}


@section Scripts {
    @*<script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>*@

    @*<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>*@
@*<script src="~/NgScripts/appfactory.js"></script>*@
    <script src="~/NgScripts/appconfig.js"></script>
    <script src="~/NgScripts/PackageController.js?version=20190712"></script>    
    @*<script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/moment.js"></script>*@
}
