@{
    ViewBag.Title = "AreaList";
}

@section jumbotronsect {
    <h2>Area List</h2>
}

@section infomodaltext {
    <h2>Area Data</h2>
    <p>
        Areas of South Tyrol. Custom Area Cluster used by LTS. Usable on Activities, Pois, ODHActivities and Pois. Only available in German. Do not use it if not needet for custom filtering. 
    </p>
}
<div class="col-sm-12" ng-app="common" ng-controller="commonListController" ng-init="init('Area',250)">
    <div class="splash" ng-show="isloading">
        <h2>
            Loading
        </h2>
        <span>
            <i class="fa fa-spinner fa-5x fa-spin active"></i>
        </span>
    </div>
    <div class="row">
        <div class="col-sm-12 form-inline">
            <div class="pull-left">
                <input type="text" class="form-control" id="filterName" placeholder="Filter" ng-model="query" autofocus><p>&nbsp; {{ meinecommons.length }} Areas</p>
            </div>
            <div class="pull-right">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="lang" btn-radio="'de'">de</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'it'">it</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'en'">en</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'nl'">nl</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'cs'">cs</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'pl'">pl</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'fr'">fr</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'ru'">ru</label>
                </div>
            </div>
        </div>
    </div>
    @if (@ViewBag.globalcreate == true || @ViewBag.commoncreate == true)
    {
        <div class="row">
            <div class="col-sm-12 form-inline">
                <br />
                <a ng-click="editCommon('new')" class="btn btn-small btn-info">New</a>
                <br />
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-12 table-responsive">

            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        @*<th style="min-width: 120px;">Bild</th>*@
                        <th style="min-width: 20%;">id</th>
                        <th style="min-width: 20%;">name</th>
                        <th style="min-width: 40%;">type</th>
                        <th style="min-width: 40%;">source</th>
                        <th>active (source/ODH)</th>
                        <th>published</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="common in meinecommons = (commons | filter:query | orderBy : 'Shortname')">
                        @*<td>
                                <div align="left">
                                    <img class="img-thumbnail" style="max-height:150px;max-width:150px" ng-src="{{  common.ImageGallery[0] != NULL && common.ImageGallery[0].ImageUrl + '&W=150&H=150' || '../img/noimage.png' }}" title="{{ common.ImageGallery[0].ImageDesc['de']}}" ng-click="showInfoModal(common)" />
                                </div>
                            </td>*@
                        <td>{{ common.Id }}</td>
                        <td>{{ common.Shortname }}</td>
                        <td>{{ common.AreaType }}</td>
                        <td>{{ common.Source }}</td>
                        <td>
                            <div class="glyphicon glyphicon-ok" ng-show="common.Active"></div>
                            <div class="glyphicon glyphicon-remove" ng-show="common.Active == false"></div>
                            &nbsp;                           
                                <div class="glyphicon glyphicon-ok" ng-show="common.SmgActive" style="color:green"></div>
                                <div class="glyphicon glyphicon-remove" ng-show="common.SmgActive == false" style="color:red"></div>
                        </td>
                         <td>
                                <div ng-repeat="publishchannel in common.PublishedOn">
                                    <small>{{ publishchannel }}</small>
                                </div>
                            </td>
                        <td align="right">
                            <div class="btn-group-vertical">
                                @if (@ViewBag.globalmodify == true || @ViewBag.commonmodify == true || @ViewBag.globaldetail == true)
                                {
                                    <a ng-click="editCommon(common)" class="btn btn-responsive btn-info">edit</a>
                                }
                                @if (@ViewBag.globaldelete == true || @ViewBag.commondelete == true)
                                {
                                    <a ng-click="deleteCommon(common.Id)" ng-disabled="true" class="btn btn-responsive btn-danger">delete</a>
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-left">
                @if (@ViewBag.globalcreate == true || @ViewBag.commoncreate == true)
                {
                    <a ng-click="editCommon('new')" class="btn btn-small btn-info">New</a>
                }
            </div>
        </div>
    </div>


    <script type="text/ng-template" id="CommonInfoModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancelInfoModal()" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Details</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <carousel interval="myInterval">
                            <slide data-ng-repeat="slide in slides" active="slide.active">
                                <img data-ng-src="{{slide.ImageUrl + '&H=320'}}" style="margin:auto;max-width:420px" class="img-rounded">
                                <div class="carousel-caption">
                                    <h4>{{slide.ImageTitle[lang]}}</h4>
                                    <p>{{slide.ImageDesc[lang]}}</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div ng-controller="MapCtrl" style="width:420px;height:320px">
                        <div id="map" class="img-rounded"></div>
                        <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="modal-footer">
            <button class="btn btn-info" ng-click="cancelInfoModal()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="CommonCrudModal.html">
        <form name="commonform">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancelCrudModal()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit</h4>
            </div>
            <div class="modal-body">

                 <div class="row">
                         <div class="col-sm-12">
                               <div class="btn-group pull-left">
                            <p>
                                Available Languages:&nbsp;
                                <label class="label label-default" ng-repeat="smgpoilang in common.HasLanguage">{{smgpoilang}}</label>
                            </p>
                        </div>
                        <div class="btn-group pull-right">
                            <label class="btn btn-default" ng-model="lang" btn-radio="'de'">de</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'it'">it</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'en'">en</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'nl'">nl</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'cs'">cs</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'pl'">pl</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'fr'">fr</label>
                            <label class="btn btn-default" ng-model="lang" btn-radio="'ru'">ru</label>
                        </div>
                     </div>                   
                </div>
                   <div class="row"> 
                       <div class="col-sm-12">
                                   <tabset>
                    <tab heading="General">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputId" class="col-sm-4 control-label">Id</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputId" placeholder="Id" ng-model="common.Id" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-4 control-label">Shortname</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputName" placeholder="Shortname" ng-model="common.Shortname" required ng-minlength=3>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-4 control-label">First Import</label>
                                        <div class="col-sm-8">
                                            <div class="form-control">{{ common.FirstImport | moment:'DD-MM-YYYY HH:mm' }}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-4 control-label">Last Changed</label>
                                        <div class="col-sm-8">
                                            <div class="form-control">{{ common.LastChange | moment:'DD-MM-YYYY HH:mm' }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputSource" class="col-sm-4 control-label">Source</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputSource" ng-show="common.Source != 'lts'" ng-model="common.Source">
                                            <input type="text" class="form-control" id="inputSource" ng-show="common.Source == 'lts'" ng-model="common.Source" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputAreatype" class="col-sm-4 control-label">AreaType</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputAreatype" ng-show="common.Source == 'lts'" ng-model="common.AreaType" readonly>
                                            <input type="text" class="form-control" id="inputAreatype" ng-show="common.Source != 'lts'" ng-model="common.AreaType">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-4 control-label">ODH Active</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" class="form-control" id="checkboxSmgActive" ng-model="common.SmgActive" ng-show="common.Source != 'lts'">
                                            <input type="checkbox" class="form-control" id="checkboxSmgActive" ng-model="common.SmgActive" ng-show="common.Source == 'lts'" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-4 control-label">Active</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" class="form-control" id="checkboxActive" ng-model="common.Active" ng-show="common.Source != 'lts'">
                                            <input type="checkbox" class="form-control" id="checkboxActive" ng-model="common.Active" ng-show="common.Source == 'lts'" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="License">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputMetaLicense" class="col-sm-2 control-label">License</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="selectSource" ng-model="common.LicenseInfo.License">
                                                <option>CC0</option>
                                                <option>CC-BY</option>
                                                <option>Closed</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputMetaLicenseHolder" class="col-sm-2 control-label">License Holder</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputMetaLicenseHolder" placeholder="LicenseHolder" ng-model="common.LicenseInfo.LicenseHolder">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputMetaAuthor" class="col-sm-2 control-label">Author</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputMetaAuthor" placeholder="Author" ng-model="common.LicenseInfo.Author">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="checkboxMetaClosed" class="col-sm-2 control-label">Closed Data</label>
                                        <div class="col-sm-10">
                                            <input type="checkbox" class="smallcheckbox" id="checkboxMetaClosed" ng-model="common.LicenseInfo.ClosedData" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="checkboxMetaClosed" class="col-sm-2 control-label">Reduced Data</label>
                                        <div class="col-sm-10">
                                            <input type="checkbox" class="smallcheckbox" id="checkboxMetaClosed" ng-model="common._Meta.Reduced" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Properties">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputCustomId" class="col-sm-4 control-label">CustomId</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputCustomId" ng-model="common.CustomId" ng-show="common.Source != 'lts'">
                                            <input type="text" class="form-control" id="inputCustomId" ng-model="common.CustomId" ng-show="common.Source == 'lts'" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputGID" class="col-sm-4 control-label">GID</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputGID" ng-model="common.GID" ng-show="common.Source != 'lts'">
                                            <input type="text" class="form-control" id="inputGID" ng-model="common.GID" ng-show="common.Source == 'lts'" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputRegionId" class="col-sm-4 control-label">RegionId</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputRegionId" ng-model="common.RegionId" ng-show="common.Source != 'lts'">
                                            <input type="text" class="form-control" id="inputRegionId" ng-model="common.RegionId" ng-show="common.Source == 'lts'" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputTourismvereinId" class="col-sm-4 control-label">TourismvereinId</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputTourismvereinId" ng-model="common.TourismvereinId" ng-show="common.Source != 'lts'">
                                            <input type="text" class="form-control" id="inputTourismvereinId" ng-model="common.TourismvereinId" ng-show="common.Source == 'lts'" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMunicipalityId" class="col-sm-4 control-label">MunicipalityId</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputMunicipalityId" ng-model="common.MunicipalityId" ng-show="common.Source != 'lts'">
                                            <input type="text" class="form-control" id="inputMunicipalityId" ng-model="common.MunicipalityId" ng-show="common.Source == 'lts'" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSkiAreaID" class="col-sm-4 control-label">SkiAreaID</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputSkiAreaID" ng-model="common.SkiAreaID" ng-show="common.Source != 'lts'">
                                            <input type="text" class="form-control" id="inputSkiAreaID" ng-model="common.SkiAreaID" ng-show="common.Source == 'lts'" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Detail">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputTitle" ng-model="common.Detail[lang].Title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputHeader" class="col-sm-2 control-label">Header</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control notextareamaxwitdth" id="inputHeader" rows="3" ng-model="common.Detail[lang].Header"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSubHeader" class="col-sm-2 control-label">SubHeader</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control notextareamaxwitdth" id="inputSubHeader" rows="2" ng-model="common.Detail[lang].SubHeader"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputGetThereText" class="col-sm-2 control-label">GetThere Text</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control notextareamaxwitdth" id="inputGetThereText" rows="4" ng-model="common.Detail[lang].GetThereText"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAdditionalText" class="col-sm-2 control-label">AdditionalText</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control notextareamaxwitdth" id="inputAdditionalText" rows="4" ng-model="common.Detail[lang].AdditionalText"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputBaseText" class="col-sm-2 control-label">Introtext</label>


                                        <div ng-controller="wysiwygeditorCtrl" class="col-sm-10">

                                            <text-angular name="htmlcontentintro" ng-model="common.Detail[lang].IntroText">

                                            </text-angular>


                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-6">

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputBaseText" class="col-sm-2 control-label">Base Text</label>


                                        <div ng-controller="wysiwygeditorCtrl" class="col-sm-10">

                                            <text-angular name="htmlcontentbase" ng-model="common.Detail[lang].BaseText">

                                            </text-angular>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </tab>


                        <tab heading="Mapping">
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-8" style="text-align:right;padding-left:0px;padding-right:0px;">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputNewMappingkey" placeholder="Mapping Key" ng-model="mappingproperty.Mappingkey">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputNewMappingproperty" placeholder="Mapping Property" ng-model="mappingproperty.Name">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputNewMappingvalue" placeholder="Mapping Value" ng-model="mappingproperty.Value">
                                        </div>
                                        <div class="col-sm-4" style="padding-left:0px;padding-right:0px;">
                                            <span class="input-group-btn" style="vertical-align:top">
                                                <button type="button" class="btn btn-default" value="+" ng-click="addmapping()"><i class="glyphicon glyphicon-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">&nbsp;</div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Inserted Mappings
                                        </div>
                                        <div class="form-group panel-body">
                                            <div ng-repeat="(mappingkey,mappingvalue) in common.Mapping">

                                                <div class="col-sm-8" style="text-align:right;padding-left:0px;padding-right:0px;">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputMappingPropertykey" placeholder="Mapping Key" ng-model="mappingkey" readonly>
                                                </div>
                                                <div class="col-sm-4" style="padding-left:0px;padding-right:0px;">
                                                    <div class="input-group">
                                                        <span class="input-group-btn" style="vertical-align:top;">
                                                            <button type="button" class="btn btn-default" ng-click="deletemapping('all', mappingkey)"><i class="glyphicon glyphicon-minus"></i></button>
                                                        </span>
                                                    </div>
                                                </div>


                                                <div ng-repeat="(mappingpropkey, mappingpropvalue) in common.Mapping[mappingkey]">
                                                    <div class="col-sm-8" style="text-align:right;padding-left:0px;padding-right:0px;">
                                                        <input type="text" class="form-control notextareamaxwitdth" id="inputMappingPropertykey" placeholder="Mapping Property" ng-model="mappingpropkey" readonly>
                                                        <input type="text" class="form-control notextareamaxwitdth" id="inputMappingPropertyvalue" placeholder="Mapping Value" ng-model="common.Mapping[mappingkey][mappingpropkey]">
                                                    </div>
                                                    <div class="col-sm-4" style="padding-left:0px;padding-right:0px;">
                                                        <div class="input-group">
                                                            <span class="input-group-btn" style="vertical-align:top;">
                                                                <button type="button" class="btn btn-default" ng-click="deletemapping(mappingpropkey, mappingkey)"><i class="glyphicon glyphicon-minus"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </tab>

                        <tab heading="Publish">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <label class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8 input-group">
                                        <input type="text" class="form-control notextareamaxwitdth" id="inputLinkTitle" list="publishedonitems" placeholder="Publishedon Key" ng-model="publishchannel" />


                                        <span class="input-group-btn" style="vertical-align:top">
                                            <button type="button" class="btn btn-default" value="+" ng-click="addpublishedonchannel(publishchannel)"><i class="glyphicon glyphicon-plus"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="input-group" ng-repeat="publishchannel in common.PublishedOn">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="deletepublishedonchannel(publishchannel)"><i class="glyphicon glyphicon-minus"></i></button>
                                        </span>
                                        <input type="text" class="form-control notextareamaxwitdth" id="inputPublishedonsingle" placeholder="Publishedon" ng-model="publishchannel" readonly>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </tab>
                </tabset>

                       </div>
                    </div>

                    
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" ng-click="addCrud(common,commonform.$valid)" ng-show="newcommon">Create</button>
                <button class="btn btn-warning" ng-click="updateCrud(common,commonform.$valid)" ng-show="!newcommon">Save</button>
                <button class="btn btn-info" ng-click="cancelCrudModal()">Cancel</button>
            </div>
        </form>
    </script>

</div>

@section Styles{
    <style type="text/css">
    </style>

}

@section Scripts {
    @*<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>*@
    @*<script src="~/NgScripts/appfactory.js"></script>*@
    <script src="~/NgScripts/appconfig.js"></script>
    <script src="~/NgScripts/CommonController.js?ver=20191119"></script>
    @*<script src="~/Scripts/angular-route.min.js"></script>
        <script src="~/Scripts/file-Upload/angular-file-upload.min.js"></script>*@
@*    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js'></script>*@
}
