@{
    ViewBag.Title = "DistrictList";
}
@section jumbotronsect {
    <h2>District List</h2>
}

@section infomodaltext {
    <h2>District Data</h2>
    <p>
        Districts / Fractions of South Tyrol. Every District has a Municipality assigned. by IDM Redaction
    </p>
}

<div class="col-sm-12" ng-app="common" ng-controller="commonListController" ng-init="init('District',600)">
    <div class="splash" ng-show="isloading">
        <h2>
            Loading
        </h2>
        <span>
            <i class="fa fa-spinner fa-5x fa-spin active"></i>
        </span>
    </div>
    <div class="row">
        <div class="col-sm-12 form-inline">
            <div class="pull-left">
                <input type="text" class="form-control" id="filterName" placeholder="Filter" ng-model="query" autofocus><p>&nbsp; {{ meinecommons.length }} Districts</p>
            </div>
            <div class="pull-right" ng-click="changeLanguage()">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="lang" btn-radio="'de'">de</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'it'">it</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'en'">en</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'nl'">nl</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'cs'">cs</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'pl'">pl</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'fr'">fr</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'ru'">ru</label>
                </div>
            </div>
        </div>
    </div>
    @if (@ViewBag.globalcreate == true || @ViewBag.commoncreate == true)
    {
        <div class="row">
            <div class="col-sm-12 form-inline">
                <br />
                <a ng-click="editCommon('new')" class="btn btn-small btn-info">New</a>
                <br />
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-12 table-responsive">

            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        @*<th style="min-width: 120px;">Bild</th>*@
                        <th style="min-width: 20%;">Name</th>
                        @*<th style="min-width: 40%;">Header</th>*@
                        <th>GPS</th>
                        <th>VisibleinSearch</th>
                        <th>active on source</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="common in meinecommons = (commons | filter:query | orderBy : 'Shortname')">
                        @*<td>
                                <div align="left">
                                    <img class="img-thumbnail" style="max-height:150px;max-width:150px" ng-src="{{  common.ImageGallery[0] != NULL && common.ImageGallery[0].ImageUrl + '&W=150&H=150' || '../img/noimage.png' }}" title="{{ common.ImageGallery[0].ImageDesc['de']}}" ng-click="showInfoModal(common)" />
                                </div>
                            </td>*@
                        <td>{{ common.Detail[lang].Title }}</td>
                        @*<td>{{ common.Detail[lang].Header }}</td>*@
                        <td>{{ common.Latitude }} - {{ common.Longitude }}</td>
                        <td>
                            <div class="glyphicon glyphicon-ok" ng-show="common.VisibleInSearch"></div>
                            <div class="glyphicon glyphicon-remove" ng-show="common.VisibleInSearch == false"></div>
                        </td>
                        <td>
                            <div class="glyphicon glyphicon-ok" ng-show="common.Active"></div>
                            <div class="glyphicon glyphicon-remove" ng-show="common.Active == false"></div>
                            &nbsp;
                            <div class="glyphicon glyphicon-ok" ng-show="common.SmgActive"></div>
                            <div class="glyphicon glyphicon-remove" ng-show="common.SmgActive == false"></div>
                        </td>
                        <td align="right">
                            <div class="btn-group-vertical">
                                @if (@ViewBag.globalmodify == true || @ViewBag.commonmodify == true || @ViewBag.globaldetail == true)
                                {
                                    <a ng-click="editCommon(common)" class="btn btn-responsive btn-info">edit</a>
                                }
                                @if (@ViewBag.globaldelete == true || @ViewBag.commondelete == true)
                                {
                                    <a ng-click="deleteCommon(common.Id,'District')" ng-disabled="true" class="btn btn-responsive btn-danger">delete</a>
                                }
                                <a ng-click="showInfoModal(common)" class="btn btn-responsive btn-success" style="width:70px;">Detail</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-left">
                @if (@ViewBag.globalcreate == true || @ViewBag.commoncreate == true)
                {
                    <a ng-click="editCommon('new')" class="btn btn-small btn-info">New</a>
                }
            </div>
        </div>
    </div>


    <script type="text/ng-template" id="CommonInfoModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancelInfoModal()" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Details</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <carousel interval="myInterval">
                            <slide data-ng-repeat="slide in slides" active="slide.active">
                                <img data-ng-src="{{slide.ImageUrl + '&H=320'}}" style="margin:auto;max-width:420px" class="img-rounded">
                                <div class="carousel-caption">
                                    <h4>{{slide.ImageTitle[lang]}}</h4>
                                    <p>{{slide.ImageDesc[lang]}}</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div style="max-width:420px;height:320px">
                        <leaflet lf-center="leafletcoords" max-width="420px" height="320px"></leaflet>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">

                    <br />
                    <h2>{{ common.Detail[lang].Title }}</h2>

                    <p ng-show="common.Detail[lang].Header != null && common.Detail[lang].Header != ''">
                        <strong>Header</strong><br />
                        {{ common.Detail[lang].Header }}
                    </p>

                    <p ng-show="common.Detail[lang].SubHeader != null && common.Detail[lang].SubHeader != ''">
                        <strong>SubHeader</strong><br />
                        {{ common.Detail[lang].SubHeader }}
                    </p>

                    <div ng-show="common.Detail[lang].IntroText != null && common.Detail[lang].IntroText != ''">
                        <strong>Introtext</strong><br />
                        <p ng-bind-html="common.Detail[lang].IntroText"></p>
                    </div>

                    <div ng-show="common.Detail[lang].BaseText != null && common.Detail[lang].BaseText != ''">
                        <strong>Basistext</strong><br />
                        <p ng-bind-html="common.Detail[lang].BaseText"></p>
                    </div>

                    <p ng-show="common.Detail[lang].GetThereText != null && common.Detail[lang].GetThereText != ''">
                        <strong>Anfahrtstext</strong><br />
                        {{ common.Detail[lang].GetThereText }}
                    </p>

                    <p ng-show="common.Detail[lang].AdditionalText != null && common.Detail[lang].AdditionalText != ''">
                        <strong>Zusatztext</strong><br />
                        {{ common.Detail[lang].AdditionalText }}
                    </p>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">

                        @*<br />

                            <h2>Contact</h2>

                            <img data-ng-src="{{common.ContactInfos[lang].LogoUrl}}" id="logourl" style="width:150px;" class="pull-right" />

                            <p ng-show="common.ContactInfos[lang].CompanyName != null">
                                <strong>Organization</strong><br />
                                {{ common.ContactInfos[lang].CompanyName }}
                            </p>



                            <p ng-show="common.ContactInfos[lang].Address != ''">
                                <strong>Address</strong><br />
                                {{ common.ContactInfos[lang].Address }} - {{ common.ContactInfos[lang].ZipCode }} {{ common.ContactInfos[lang].City }} {{ common.ContactInfos[lang].CountryName }}
                            </p>

                            <p ng-show="common.ContactInfos[lang].ZipCode != ''">
                                <strong>Contact</strong><br />
                                {{ common.ContactInfos[lang].Phonenumber }}<br />
                                {{ common.ContactInfos[lang].Email }}<br />
                                {{ common.ContactInfos[lang].Url }}
                            </p>*@

                    </div>

                </div>

            </div>
        </div>


        <div class="modal-footer">
            <button class="btn btn-info" ng-click="cancelInfoModal()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="CommonCrudModal.html">
        <form name="commonform">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancelCrudModal()" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit</h4>



            </div>
            <div class="modal-body">
                <div class="btn-group pull-right">
                    <label class="btn btn-default" ng-model="lang" btn-radio="'de'">de</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'it'">it</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'en'">en</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'nl'">nl</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'cs'">cs</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'pl'">pl</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'fr'">fr</label>
                    <label class="btn btn-default" ng-model="lang" btn-radio="'ru'">ru</label>
                </div>
                <tabset>
                    <tab heading="Detail">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputId" class="col-sm-2 control-label">Id</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputId" placeholder="Id" ng-model="common.Id" ng-show="newcommon" required>
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputId" placeholder="Id" ng-model="common.Id" ng-show="!newcommon" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Shortname</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputName" placeholder="Shortname" ng-model="common.Shortname" required ng-minlength=3>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="inputSiagId" class="col-sm-2 control-label">SiagId</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputSiagId" ng-model="common.SiagId">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputCustomId" class="col-sm-2 control-label">CustomId</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputCustomId" ng-model="common.CustomId" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputRegionId" class="col-sm-2 control-label">RegionId</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputRegionId" ng-model="common.RegionId" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputTourismvereinId" class="col-sm-2 control-label">TourismvereinId</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputTourismvereinId" ng-model="common.TourismvereinId" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMunicipalityId" class="col-sm-2 control-label">MunicipalityId</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputMunicipalityId" ng-model="common.MunicipalityId" readonly>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Last Changed</label>
                                        <div class="col-sm-10">
                                            <div class="form-control">{{ common.LastChange | moment:'DD-MM-YYYY HH:mm' }}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="checkboxisComune" class="col-sm-2 control-label">IsComune</label>
                                        <div class="col-sm-10">
                                            <input type="checkbox" class="smallcheckbox" id="checkboxisComune" ng-model="common.IsComune" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">SmgActive</label>
                                        <div class="col-sm-10">
                                            <input type="checkbox" class="smallcheckbox" id="checkboxSmgActive" ng-model="common.SmgActive" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Active</label>
                                        <div class="col-sm-10">
                                            <input type="checkbox" class="smallcheckbox" id="checkboxActive" ng-model="common.Active" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputVisibleInSearch" class="col-sm-2 control-label">VisibleInSearch</label>
                                        <div class="col-sm-10">
                                            <input type="checkbox" class="smallcheckbox" id="checkboxVisibleInSearch" ng-model="common.VisibleInSearch">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Detail">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputTitle" ng-model="common.Detail[lang].Title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputHeader" class="col-sm-2 control-label">Header</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control notextareamaxwitdth" id="inputHeader" rows="3" ng-model="common.Detail[lang].Header"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSubHeader" class="col-sm-2 control-label">SubHeader</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control notextareamaxwitdth" id="inputSubHeader" rows="2" ng-model="common.Detail[lang].SubHeader"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="inputGetThereText" class="col-sm-2 control-label">GetThere Text</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control notextareamaxwitdth" id="inputGetThereText" rows="4" ng-model="common.Detail[lang].GetThereText"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAdditionalText" class="col-sm-2 control-label">AdditionalText</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control notextareamaxwitdth" id="inputAdditionalText" rows="4" ng-model="common.Detail[lang].AdditionalText"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputBaseText" class="col-sm-2 control-label">Introtext</label>


                                        <div ng-controller="wysiwygeditorCtrl" class="col-sm-10">

                                            <text-angular name="htmlcontentintro" ng-model="common.Detail[lang].IntroText">

                                            </text-angular>


                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-6">

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputBaseText" class="col-sm-2 control-label">Base Text</label>


                                        <div ng-controller="wysiwygeditorCtrl" class="col-sm-10">

                                            <text-angular name="htmlcontentbase" ng-model="common.Detail[lang].BaseText">

                                            </text-angular>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </tab>
                    <tab heading="Contact">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputContactCompName" class="col-sm-2 control-label">General Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputContactCompName" placeholder="Contact Name" ng-model="common.ContactInfos[lang].CompanyName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputGivenname" class="col-sm-2 control-label">Given Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputGivenname" placeholder="Contact Givenname" ng-model="common.ContactInfos[lang].Givenname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSurname" class="col-sm-2 control-label">Surname</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputSurname" placeholder="Contact Surname" ng-model="common.ContactInfos[lang].Surname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputNamePrefix" class="col-sm-2 control-label">NamePrefix</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputNamePrefix" placeholder="Contact NamePrefix" ng-model="common.ContactInfos[lang].NamePrefix">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputVat" class="col-sm-2 control-label">Vat</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputVat" placeholder="Contact Vat" ng-model="common.ContactInfos[lang].Vat">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputTax" class="col-sm-2 control-label">Tax</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputTax" placeholder="Contact Tax" ng-model="common.ContactInfos[lang].Tax">
                                        </div>
                                    </div>
                                    <div class="form-group" ng-controller="LogoFileUploadController">
                                        <label for="inputLogoUrl" class="col-sm-2 control-label  notextareamaxwitdth">Logo</label>
                                        <div class="col-sm-10">
                                            <img data-ng-src="{{common.ContactInfos[lang].LogoUrl}}" class="img-thumbnail" id="logourl" style="width:100px" />
                                            <input type="file" class="btn btn-default btn-file" nv-file-select="" uploader="uploader" />
                                            <div>
                                                Upload progress:
                                                <div class="progress" style="height:100%">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" style="width:60%"></div>
                                                    @*<button type="button" class="btn btn-success" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" style="float:right">
                                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                                        </button>*@

                                                    @*Do isch a lei der gleiche kaas*@
                                                    <div ng-repeat="item in uploader.queue">
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputAddress" placeholder="Contact Address" ng-model="common.ContactInfos[lang].Address">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputZipCode" class="col-sm-2 control-label">ZipCode</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputZipCode" placeholder="Contact ZipCode" ng-model="common.ContactInfos[lang].ZipCode">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputCity" class="col-sm-2 control-label">City</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputCity" placeholder="Contact City" ng-model="common.ContactInfos[lang].City">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputCountryname" class="col-sm-2 control-label">Country</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputCountryname" placeholder="Contact Countryname" ng-model="common.ContactInfos[lang].CountryName">
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="inputCountrycode" placeholder="Contact Countrycode" ng-model="common.ContactInfos[lang].CountryCode">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputEmail" placeholder="Contact Email" ng-model="common.ContactInfos[lang].Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPhonenumber" class="col-sm-2 control-label">Phonenumber</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputPhonenumber" placeholder="Contact Phonenumber" ng-model="common.ContactInfos[lang].Phonenumber">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputFaxnumber" class="col-sm-2 control-label">Faxnumber</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputFaxnumber" placeholder="Contact Faxnumber" ng-model="common.ContactInfos[lang].Faxnumber">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputUrl" class="col-sm-2 control-label">Web Url</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputUrl" placeholder="Contact Url" ng-model="common.ContactInfos[lang].Url">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Gps">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                    @*<h4>Gps Point</h4>*@
                                    <div class="form-group">
                                        <label for="inputGpstype" class="col-sm-2 control-label">Gpstype</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputGpstype" placeholder="Gpstype" ng-model="common.Gpstype" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputLatitude" class="col-sm-2 control-label">Latitude</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputLatitude" ng-model="common.Latitude">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputLongitude" class="col-sm-2 control-label">Longitude</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputLongitude" placeholder="Longitude" ng-model="common.Longitude">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAltitude" class="col-sm-2 control-label">Altitude</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputAltitude" ng-model="common.Altitude">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAltitudeUnitofMeasure" class="col-sm-2 control-label">Altitude Unit</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control notextareamaxwitdth" id="inputAltitudeUnitofMeasure" ng-model="common.AltitudeUnitofMeasure">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Images">
                        <br />
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-horizontal">
                                    <div ng-controller="FileUploadController">
                                        <h4>Upload Images</h4>
                                        <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                        <input type="file" class="btn btn-default btn-file notextareamaxwitdth" nv-file-select="" uploader="uploader" multiple /><br />

                                        <p>Queue length: {{ uploader.queue.length }}</p>
                                        <table class="table" style="font-size:smaller">
                                            <thead>
                                                <tr>
                                                    <th width="50%">Name</th>
                                                    <th ng-show="uploader.isHTML5">Size</th>
                                                    <th ng-show="uploader.isHTML5">Progress</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in uploader.queue">
                                                    <td>
                                                        <strong>{{ item.file.name }}</strong>
                                                        <!-- Image preview -->
                                                        <!--auto height-->
                                                        <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                        <!--auto width-->
                                                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                                        <!--fixed width and height -->
                                                        <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                                    </td>
                                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                    <td ng-show="uploader.isHTML5">
                                                        <div class="progress" style="margin-bottom: 0;">
                                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                    </td>
                                                    <td nowrap>
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span> @*Upload*@
                                                        </button>
                                                        <br />
                                                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                            <span class="glyphicon glyphicon-ban-circle"></span> @*Cancel*@
                                                        </button>
                                                        <br />
                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                            <span class="glyphicon glyphicon-trash"></span> @*Remove*@
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <div>
                                                Queue progress:
                                                <div class="progress" style="">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-success" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                <span class="glyphicon glyphicon-upload"></span> Upload all
                                            </button>
                                            <button type="button" class="btn btn-warning" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                            </button>
                                            <button type="button" class="btn btn-danger" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                                <span class="glyphicon glyphicon-trash"></span> Remove all
                                            </button>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-8">
                                <div class="form-horizontal">
                                    <h4>Image Gallery <small>Title, Description, Copyright, License, Position, Active</small></h4>
                                    <div ng-repeat="bild in common.ImageGallery">
                                        <div class="col-sm-2" style="text-align:right">
                                            <img class="img-thumbnail" ng-src="{{ bild.ImageUrl + '&Width=85' }}" style="max-height:100px;" />
                                            <div class="pull-right" ng-controller="FileUploadControllerSingle" ng-init="init(bild.ImageUrl)">
                                                <input type="file" class="btn btn-xs btn-default btn-file" style="width: 95px;" nv-file-select="" uploader="uploader" />
                                                <button type="button" class="btn btn-xs btn-success" style="width: 95px;" ng-click="uploader.uploadAll()" style="padding: 4px 8px;" ng-disabled="!uploader.getNotUploadedItems().length">
                                                    <span class="glyphicon glyphicon-upload"></span> Change
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-btn" style="vertical-align:top;">
                                                    <button type="button" class="btn btn-default" ng-click="deleteImage(bild.ImageName, bild.ImageUrl)"><i class="glyphicon glyphicon-minus"></i></button>
                                                </span>
                                                <div class="col-sm-12" style="padding-left:0px">
                                                    <input type="text" class="form-control notextareamaxwitdth" id="inputBildTitel" placeholder="Title" ng-model="bild.ImageTitle[lang]">
                                                </div>
                                                <div class="col-sm-12" style="padding-left:0px">
                                                    <textarea rows="2" class="form-control notextareamaxwitdth" id="inputBildBeschreibung" placeholder="Description" ng-model="bild.ImageDesc[lang]"></textarea>
                                                </div>
                                                <div class="col-sm-6" style="padding-left:0px">
                                                    <input type="text" class="form-control col-sm-8 notextareamaxwitdth" id="inputBildCopyright" placeholder="CopyRight" ng-model="bild.CopyRight">
                                                </div>

                                                <div class="col-sm-6" style="padding-left:0px">
                                                    <select class="form-control notextareamaxwitdth" id="selectImageLicenseType" ng-model="bild.License">
                                                        <option value="" disabled>Select License</option>
                                                        <option value="CC0">CC0</option>
                                                        <option value="Proprietary">Proprietary</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-2" style="padding-left:0px">
                                                    <input type="number" class="form-control col-xs-2" id="inputBildListPosition" placeholder="Position" ng-model="bild.ListPosition">
                                                </div>
                                                <div class="col-sm-2" style="padding-left:0px">
                                                    <input type="checkbox" class="smallcheckbox col-sm" id="checkboxActive" ng-model="bild.IsInGallery">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Related Highlights">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <label class="col-sm-4 control-label">Activity / Poi</label>
                                    <div class="col-sm-8 input-group">
                                        <div ng-controller="SmgRelatedContentActivityPoiTypeAheadController" ng-init="init('fra', [common.Id])">
                                            <typeaheadrelatedcontent items="items" templateurl="RelatedContentNameTemplate" prompt="Name" title="name" model="relatedcontent.Name" submodel="relatedcontent.Type" idmodel="relatedcontent.Id" on-select="onItemSelected()" />
                                        </div>
                                        <span class="input-group-btn" style="vertical-align:top">
                                            <button type="button" class="btn btn-default" value="+" ng-click="addrelatedcontent(relatedcontent)"><i class="glyphicon glyphicon-plus"></i></button>
                                        </span>
                                    </div>
                                </div>

                                @*<div class="form-horizontal">

                                        <label class="col-sm-4 control-label">Gastronomy</label>
                                        <div class="col-sm-8 input-group">
                                            <div ng-controller="SmgRelatedContentGastronomyTypeAheadController">
                                                <typeaheadrelatedcontent items="items" templateurl="RelatedContentNameTemplate" prompt="Name" title="name" model="relatedcontentgastro.Name" submodel="relatedcontentgastro.Type" idmodel="relatedcontentgastro.Id" on-select="onItemSelected()" />
                                            </div>
                                            <span class="input-group-btn" style="vertical-align:top">
                                                <button type="button" class="btn btn-default" value="+" ng-click="addrelatedcontent(relatedcontentgastro)"><i class="glyphicon glyphicon-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-horizontal">

                                        <label class="col-sm-4 control-label">Event</label>
                                        <div class="col-sm-8 input-group">
                                            <div ng-controller="SmgRelatedContentEventTypeAheadController">
                                                <typeaheadrelatedcontent items="items" templateurl="RelatedContentNameTemplate" prompt="Name" title="name" model="relatedcontentevent.Name" submodel="relatedcontentevent.Type" idmodel="relatedcontentevent.Id" on-select="onItemSelected()" />
                                            </div>
                                            <span class="input-group-btn" style="vertical-align:top">
                                                <button type="button" class="btn btn-default" value="+" ng-click="addrelatedcontent(relatedcontentevent)"><i class="glyphicon glyphicon-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>*@

                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal">

                                    <div class="input-group" ng-repeat="relatedcontent in common.RelatedContent">
                                        <span class="input-group-btn" style="vertical-align:top">
                                            <button type="button" class="btn btn-default" ng-click="deleterelatedcontent(relatedcontent)"><i class="glyphicon glyphicon-minus"></i></button>
                                        </span>
                                        <input type="text" class="form-control notextareamaxwitdth" id="inputTagsingle" placeholder="RelatedContent" ng-model="relatedcontent.Id" readonly>
                                        <input type="text" class="form-control notextareamaxwitdth" id="inputTagsingle" placeholder="RelatedContent" ng-model="relatedcontent.Name" readonly>
                                        <input type="text" class="form-control notextareamaxwitdth" id="inputTagsingle" placeholder="RelatedContent" ng-model="relatedcontent.Type" readonly>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" ng-click="addCrud(common,commonform.$valid)" ng-show="newcommon">Create</button>
                <button class="btn btn-warning" ng-click="updateCrud(common,commonform.$valid)" ng-show="!newcommon">Save</button>
                <button class="btn btn-info" ng-click="cancelCrudModal()">Cancel</button>
            </div>
        </form>
    </script>

</div>

@section Styles{
    <style type="text/css">
    </style>

}

@section Scripts {
    <script src="~/NgScripts/appconfig.js"></script>
    <script src="~/NgScripts/CommonController.js?v=20191114"></script>
    @*<script src="~/Scripts/file-Upload/angular-file-upload.min.js"></script>
        <script src="~/Scripts/angular-route.min.js"></script>*@

}
