
@{
    ViewBag.Title = "EventShortList";
}

@section jumbotronsect {
    <h3>Events Eurac/NOI List </h3>
}
@section infomodaltext {
    <h3>Events Eurac NOI</h3>
    <p>All data is syncronized daily from EBMS Eurac Interface.</p>
    <p>
        Data can be added manually.
    </p>
}

<div class="col-xs-12" ng-app="eventshort" ng-controller="eventshortListController" ng-init="init('@ViewBag.virtualvillageonly')">
    <div class="splash" ng-show="isloading">
        <h2>
            Loading
        </h2>
        <span>
            <i class="fa fa-spinner fa-5x fa-spin active"></i>
        </span>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-inline">

                <div class="pull-right">
                    <div class="btn-group">
                        @*<button type="button" class="btn btn-default active" ng-click="setlang('de')">de</button>
                            <button type="button" class="btn btn-default" ng-click="setlang('it')">it</button>
                            <button type="button" class="btn btn-default" ng-click="setlang('en')">en</button>*@
                        <label class="btn btn-default" ng-model="lang" btn-radio="'de'">de</label>
                        <label class="btn btn-default" ng-model="lang" btn-radio="'it'">it</label>
                        <label class="btn btn-default" ng-model="lang" btn-radio="'en'">en</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br />
            <div class="form-inline">
                <div class="pull-right">
                    <span class="btn btn-default"> Elements: {{ totalcount }}</span>
                    <input type="button" id="prevpage" ng-click="changePage(-1,true)" class="btn btn-info" value="prev" ng-disabled="page == 1" />
                    &nbsp;{{ page }}&nbsp;/&nbsp;{{ totalpages }}&nbsp;
                    <input type="button" id="nextpage" ng-click="changePage(+1,true)" class="btn btn-info" value="next" ng-disabled="page == totalpages || totalpages == 0" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="col-sm-3 col-xs-12 table-bordered filtertable">
            <div class="form-inline">
                <br />
                <div class="form-group col-sm-12">
                    <input type="button" id="filterbutton" ng-click="applyFilter(1)" class="btn btn-info" value="Filter" />
                    <input type="button" id="clearfilterbutton" ng-click="clearFilter()" class="btn btn-default" value="Clear" />
                </div>

                <div class="form-group col-sm-12">
                    <h6>Event ID<small class="btn-link pull-right" ng-click="clearIdFilter()">Clear</small></h6>
                    <input id="selectedapoiid" class="form-control" type="text" ng-model="SelectedEventId" placeholder="Event ID to filter" />
                </div>

                <div class="form-group col-sm-12">
                    @* ng-controller="EventTypeAheadController" *@
                    <h6>Event Name</h6>
                    @* <typeaheadevent items="items" templateurl="EventShortNameTemplate" prompt="Name" title="Name" subtitle="Id" model="$parent.SelectedEventName" idmodel="$parent.SelectedEventId" on-select="onItemSelected()" /> *@
                    <input id="SelectedEventId" class="form-control" type="text" ng-model="SelectedEventName" placeholder="Eventname to filter" />
                </div>

                <div class="form-group col-sm-12">
                    <h6>Source @*<small class="btn-link pull-right" ng-click="clearSourceFilter()">Clear</small>*@</h6>
                    <select class="form-control" id="selectSource" ng-model="source">
                        <option value="">all</option>
                        <option value="EBMS">EBMS</option>
                        <option value="Content">Created Content</option>
                    </select>
                </div>

                <div class="form-group col-sm-12">
                    <h6>Location</h6>
                    <select class="form-control" id="selectTyp" ng-model="eventlocation">
                        <option value="">all</option>
                        <option value="NOI">NOI</option>
                        <option value="NOIBRUNECK">NOI Bruneck</option>
                        <option value="EC">EURAC</option>
                        <option value="VV">Virtual Village</option>
                        <option value="OUT">Other</option>
                    </select>
                </div>

                <div class="form-group col-sm-12">
                    <h6>active on source</h6>
                    <select class="form-control" id="selectTyp" ng-model="onlyactive">
                        <option value="">all</option>
                        <option value="true">active</option>
                        <option value="false">not active</option>
                    </select>
                </div>

                <div class="form-group col-sm-12">
                    <h6>active noi.bz.it</h6>
                    <select class="form-control" id="selectTyp" ng-model="onlywebsiteactive">
                        <option value="">all</option>
                        <option value="true">active</option>
                        <option value="false">not active</option>
                    </select>
                </div>

                <div class="form-group col-sm-12">
                    <h6>active noi community</h6>
                    <select class="form-control" id="selectTyp" ng-model="onlycommunityactive">
                        <option value="">all</option>
                        <option value="true">active</option>
                        <option value="false">not active</option>
                    </select>
                </div>

                 <div class="form-group col-sm-12">
                    <h6>PublishedOn<small class="btn-link pull-right" ng-click="clearPublishedOnFilter()">Clear</small></h6>                  
                    <input type="text" class="form-control" id="publishchannelfilter" list="publishedonitems" placeholder="Publishedon Key" ng-model="publishchannelfilter" />
                                           
                </div>


                <div class="form-group col-sm-12">
                    <h5>Date Filter</h5>
                    @*<input type="text" id="datefrom" class="form-control" placeholder="Von" style="width:100%" /><br />*@

                    <div class="input-group" ng-controller="DatepickerDemoCtrl">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="$parent.Datumvon" is-open="opened" datepicker-options="dateOptions" ng-change="changeDate($parent.Datumvon)" @*min-date=" '2010-01-01' " max-date=" '2015-06-22' " datepicker-options=" dateoptions" date-disabled="disabled(date, mode)" *@ ng-required="true" close-text="Close" readonly />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>

                    @*<input type="text" id="dateTo" class="form-control" placeholder="Bis" style="width:100%" />*@

                    <div class="input-group" ng-controller="DatepickerDemoCtrl">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="$parent.Datumbis" is-open="opened" datepicker-options="dateOptions" @*min-date="'2010-01-01'" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"*@ ng-required="true" close-text="Close" readonly />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>

                    <br /><br />
                </div>


                @*<div class="form-group col-sm-12">
                        <h6>Topic</h6>
                        <div class="btn-group-vertical" style="width:100%">
                            <label class="btn btn-default" ng-model="checkEventTopicModel.1" btn-checkbox>Tagungen/Vorträge</label>
                            <label class="btn btn-default" ng-model="checkEventTopicModel.2" btn-checkbox>Sport</label>
                            <label class="btn btn-default" ng-model="checkEventTopicModel.3" btn-checkbox>Gastronomie/Typische Produkte</label>
                            <label class="btn btn-default" ng-model="checkEventTopicModel.4" btn-checkbox>Handwerk/Brauchtum</label>
                            <label class="btn btn-default" ng-model="checkEventTopicModel.5" btn-checkbox>Messen/Märkte</label>
                            <label class="btn btn-default" ng-model="checkEventTopicModel.6" btn-checkbox>Theater/Vorführungen</label>
                            <label class="btn btn-default" ng-model="checkEventTopicModel.7" btn-checkbox>Kurse/Bildung</label>
                            <label class="btn btn-default" ng-model="checkEventTopicModel.8" btn-checkbox>Musik/Tanz</label>
                            <label class="btn btn-default" ng-model="checkEventTopicModel.9" btn-checkbox>Volksfeste/Festivals</label>
                            <label class="btn btn-default" ng-model="checkEventTopicModel.10" btn-checkbox>Wanderungen/Ausflüge</label>
                            <label class="btn btn-default" ng-model="checkEventTopicModel.11" btn-checkbox>Führungen/Besichtigungen</label>
                            <label class="btn btn-default" ng-model="checkEventTopicModel.12" btn-checkbox>Ausstellungen/Kunst</label>
                            <label class="btn btn-default" ng-model="checkEventTopicModel.13" btn-checkbox>Familie</label>
                        </div>
                        <br />
                        <br />
                    </div>*@

            </div>
        </div>
        <div class="col-sm-9 col-xs-12 table-responsive">
            <div class="pull-right">
                @if (@ViewBag.globalcreate == true || @ViewBag.globalmodify == true || @ViewBag.eventshortcreate == true || @ViewBag.eventshortmodify == true || @ViewBag.globaldetail == true || @ViewBag.virtualvillageadmin == true)
                {
                    <a ng-click="editeventshort('new')" class="btn btn-small btn-success">New</a>
                }
            </div>
            <br />
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th style="width: 150px;">image</th>
                        <th style="min-width: 70px;">description</th>
                        <th style="min-width: 70px;">begin / enddate</th>
                        <th style="min-width: 70px;">location</th>
                        <th style="min-width: 70px;">source</th>
                        <th style="min-width: 70px;">active on source</th>
                        <th style="min-width: 70px;">noi.bz.it Active</th>
                        <th style="min-width: 70px;">noi community Active</th>
                        <th style="min-width: 70px;">published</th>
                        <th style="width:120px;"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="eventshort in eventsshort track by $index">
                        <td>
                            <div style="max-width:150px;min-height:75px">
                                <img class="img-thumbnail img-responsive" ng-src="{{  eventshort.ImageGallery[0] != NULL && eventshort.ImageGallery[0].ImageUrl + '&width=150' || '../img/noimage.png' }}" title="{{ eventshort.ImageGallery[0].ImageDesc['de']}}" ng-click="showInfoModal(eventshort, lang)" />
                            </div>
                        </td>
                        <td>
                            <div>{{ eventshort.EventTitle[lang] }}</div>             
                            <br />
                        </td>
                        <td>{{ eventshort.StartDate | moment:'DD/MM/YYYY HH:mm' }}<br />{{ eventshort.EndDate | moment:'DD/MM/YYYY HH:mm' }}</td>
                        <td>
                            <div ng-if="eventshort.EventLocation == 'EC'">Eurac</div>
                            <div ng-if="eventshort.EventLocation == 'NOI'">NOI</div>
                            <div ng-if="eventshort.EventLocation == 'NOIBRUNECK'">NOI Bruneck</div>
                            <div ng-if="eventshort.EventLocation == 'OUT'">Other</div>
                            <div ng-if="eventshort.EventLocation == 'VV'">Virtual Village</div>
                        </td>
                        <td>{{ eventshort.Source }}</td>
                        <td>
                            <div class="glyphicon glyphicon-ok" ng-show="eventshort.ActiveToday" style="color:green"></div>
                            <div class="glyphicon glyphicon-remove" ng-show="eventshort.ActiveToday== false" style="color:red"></div>
                        </td>
                        <td>
                            <div class="glyphicon glyphicon-ok" ng-show="eventshort.ActiveWeb" style="color:green"></div>
                            <div class="glyphicon glyphicon-remove" ng-show="eventshort.ActiveWeb == false || eventshort.ActiveWeb == null" style="color:red"></div>
                        </td>
                        <td>
                            <div class="glyphicon glyphicon-ok" ng-show="eventshort.ActiveCommunityApp" style="color:green"></div>
                            <div class="glyphicon glyphicon-remove" ng-show="eventshort.ActiveCommunityApp == false || eventshort.ActiveCommunityApp == null" style="color:red"></div>
                        </td>
                        <td>
                            <div ng-repeat="publishchannel in eventshort.PublishedOn">
                                <small>{{ publishchannel }}</small>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group-vertical">
                                <a ng-click="showInfoModal(eventshort, lang)" class="btn btn-responsive btn-success" style="width:70px;">Detail</a>
                                <a ng-click="editeventshort(eventshort)" class="btn btn-small btn-default" style="width:70px;">edit</a>
                                <a ng-click="editeventshort(eventshort,'copy')" class="btn btn-small btn-default" ng-if="eventshort.Source == 'Content'" style="width:70px;">copy</a>
                                <a ng-click="deleteeventshort(eventshort)" class="btn btn-small btn-primary" style="width:70px;">delete</a>

                                @* @if (@ViewBag.globalmodify == true || @ViewBag.eventshortmodify == true || @ViewBag.globaldetail == true || @ViewBag.virtualvillageadmin == true)
                                {
                                    <a ng-click="editeventshort(eventshort)" class="btn btn-small btn-default" style="width:70px;">edit</a>
                                    <a ng-click="editeventshort(eventshort,'copy')" class="btn btn-small btn-default" ng-if="eventshort.Source == 'Content'" style="width:70px;">copy</a>
                                }
                                @if (@ViewBag.globaldelete == true || @ViewBag.eventshortdelete == true || @ViewBag.virtualvillageadmin == true)
                                {
                                    <a ng-if="eventshort.Source != 'EBMS'" ng-click="deleteeventshort(eventshort)" class="btn btn-small btn-primary" style="width:70px;">delete</a>
                                }
 *@
                                
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-inline">
               
                <div class="pull-right">
                    <span class="btn btn-default"> Elements: {{ totalcount }} </span>
                    <input type="button" id="prevpage" ng-click="changePage(-1,true)" class="btn btn-info" value="prev" ng-disabled="page == 1" />
                    &nbsp;{{ page }}&nbsp;/&nbsp;{{ totalpages }}&nbsp;
                    <input type="button" id="nextpage" ng-click="changePage(+1,true)" class="btn btn-info" value="next" ng-disabled="page == totalpages || totalpages == 0" />
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/ng-template" id="EventShortCRUDModal">

    @Html.RenderPartialAsync("GBEventShort/EventShortCRUDModal")

</script>

<script type="text/ng-template" id="EventShortInfoModal">

    @Html.RenderPartialAsync("GBEventShort/EventShortInfoModal")

</script>


@section Styles{
    <style type="text/css">
    </style>

}


@section Scripts {

    @*<script src="~/NgScripts/appfactory.js"></script>*@
    @*<script src="~/NgScripts/appconfig.js"></script>*@

    <script src="~/NgScripts/EventShortController.js?version=20230503"></script>
    <script src="~/js/jquery.mask.min.js"></script>
}
